<div class="option--selector mt-1 xl:mt-7 mb-5 xl:mb-0 flex flex-col gap-3 xl:gap-5">
    <!-- Subscribe and Save -->
    <div class="!hidden border border-orange border-double-width rounded-[20px] xl:rounded-[32px] px-4 py-5 xl:p-7 cursor-pointer">
        <div class="flex gap-3">
            <div class="w-[22px] flex-shrink-0 flex items-center h-[30px] xl:h-[50px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                    <circle cx="11.0632" cy="11.6872" r="9.77223" stroke="#E64C33" stroke-width="2.32991"/>
                    <circle cx="11.0586" cy="11.687" r="6.79879" fill="#E64C33"/>
                </svg>
            </div>
            <div class="w-full flex justify-between text-black">
                <div>
                    <p class="text-xl xl:text-[32px] tracking-[-1px] xl:tracking-[-1.6px] font-medium">
                        Subscribe & Save
                    </p>


                    <ul class="flex flex-col gap-1 mt-2">
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Delivery every <span class="underline">30 Days</span></span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Free Shipping on all orders</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Pause or cancel anytime</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Early access to new products</span>
                        </li>

                    </ul>
                </div>
                
                <div class="price text-[22px] tracking-[-1.1px] font-bold whitespace-nowrap">
                    <span class="text-orange text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                        $39
                    </span>
                    <span class="line-through text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                        $44
                    </span>
                    
                </div>
            </div>
            

        </div>

    </div>


    <!-- One Time -->
    <div class="border border-orange border-double-width rounded-[20px] xl:rounded-[32px] px-4 py-5 xl:p-7 cursor-pointer">
        <div class="flex gap-3 item">
            <div class="w-[22px] flex-shrink-0 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                    <circle cx="11.0632" cy="11.6872" r="9.77223" stroke="#E64C33" stroke-width="2.32991"/>
                    <circle cx="11.0586" cy="11.687" r="6.79879" fill="#E64C33"/>
                </svg>
            </div>
            <div class="w-full flex justify-between text-black items-center">
                <p class="text-xl xl:text-[32px] tracking-[-1px] xl:tracking-[-1.6px] font-medium">
                    One-Time Purchase
                </p>
                <div class="price_ text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                    $44
                </div>
            </div>

        </div>
    </div>



    

</div>