<div class="option--selector mt-1 xl:mt-7 mb-5 xl:mb-9 flex flex-col gap-3 xl:gap-5">
    <!-- Subscribe and Save -->
    <div class="border border-orange border-double-width rounded-[20px] xl:rounded-[32px] px-4 py-5 xl:p-7 cursor-pointer">
        <div class="flex gap-3">
            <div class="w-[22px] flex-shrink-0 flex items-center h-[30px] xl:h-[50px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="23" viewBox="0 0 22 23" fill="none">
                    <circle cx="11.0632" cy="11.6872" r="9.77223" stroke="#E64C33" stroke-width="2.32991"/>
                    <circle cx="11.0586" cy="11.687" r="6.79879" fill="#E64C33"/>
                </svg>
            </div>
            <div class="w-full flex justify-between text-black">
                <div>
                    <p class="text-xl xl:text-[32px] tracking-[-1px] xl:tracking-[-1.6px] font-medium">
                        Subscribe & Save
                    </p>


                    <ul class="flex flex-col gap-1 mt-2">
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Delivery every <span class="underline">30 Days</span></span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Free Shipping on all orders</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Pause or cancel anytime</span>
                        </li>
                        <li class="flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11" fill="none">
                                <path d="M14.3511 0.438226C13.8988 -0.0147077 13.1643 -0.0144222 12.7114 0.438226L5.33121 7.81866L2.05105 4.53853C1.59812 4.0856 0.863923 4.0856 0.410989 4.53853C-0.0419444 4.99147 -0.0419444 5.72566 0.410989 6.1786L4.51101 10.2786C4.73733 10.5049 5.0341 10.6184 5.3309 10.6184C5.6277 10.6184 5.92475 10.5052 6.15107 10.2786L14.3511 2.07826C14.8041 1.62564 14.8041 0.891131 14.3511 0.438226Z" fill="#E74639"/>
                            </svg>
                            <span class="text-sm xl:text-base tracking-[-0.7px] xl:tracking-[-0.8px]">Early access to new products</span>
                        </li>

                    </ul>
                </div>
                
                <div class="price text-[22px] tracking-[-1.1px] font-bold whitespace-nowrap">
                    <span class="text-orange text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                        $39
                    </span>
                    <span class="line-through text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                        $44
                    </span>
                    
                </div>
            </div>
            

        </div>

    </div>


    <!-- One Time -->
    <div class="border border-black border-double-width rounded-[20px] xl:rounded-[32px] px-4 py-5 xl:p-7 cursor-pointer">
        <div class="flex gap-3 item">
            <div class="w-[22px] flex-shrink-0 flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                    <circle cx="11.7028" cy="11.0968" r="9.77223" stroke="black" stroke-width="2.32991"/>
                </svg>
            </div>
            <div class="w-full flex justify-between text-black items-center">
                <p class="text-xl xl:text-[32px] tracking-[-1px] xl:tracking-[-1.6px] font-medium">
                    One-Time Purchase
                </p>
                <div class="price_ text-base xl:text-[22px] tracking-[-0.6px] xl:tracking-[-1.1px] font-bold">
                    $44
                </div>
            </div>

        </div>
    </div>



    <!-- 30 Day Guarantee -->
    <div class="flex gap-1 justify-end items-center">
        <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
                <path d="M12.9943 7.40224C12.9954 8.25003 12.8294 9.08971 12.5058 9.87328C12.1822 10.6568 11.7074 11.3689 11.1084 11.9688C10.5095 12.5686 9.79817 13.0445 9.0152 13.3692C8.23224 13.6939 7.39296 13.861 6.54537 13.861C5.69779 13.861 4.85851 13.6939 4.07555 13.3692C3.29258 13.0445 2.58129 12.5686 1.98234 11.9688C1.38339 11.3689 0.908539 10.6568 0.584941 9.87328C0.261342 9.08971 0.0953432 8.25003 0.0964384 7.40224C0.0964384 7.28799 0.141814 7.17842 0.222583 7.09763C0.303353 7.01684 0.412899 6.97146 0.527124 6.97146C0.641349 6.97146 0.750896 7.01684 0.831665 7.09763C0.912435 7.17842 0.95781 7.28799 0.95781 7.40224C0.959234 8.77462 1.46494 10.0986 2.37873 11.1223C3.29253 12.1461 4.55065 12.7981 5.91378 12.9544C7.2769 13.1108 8.64993 12.7605 9.77167 11.9702C10.8934 11.1799 11.6856 10.0048 11.9976 8.66838C12.3095 7.33194 12.1195 5.92744 11.4635 4.72203C10.8076 3.51663 9.73163 2.59442 8.44021 2.13085C7.1488 1.66727 5.73208 1.69467 4.45955 2.20783C3.18702 2.72099 2.14746 3.6841 1.53862 4.91397H2.43914C2.55337 4.91397 2.66292 4.95935 2.74369 5.04014C2.82445 5.12093 2.86983 5.2305 2.86983 5.34475C2.86983 5.459 2.82445 5.56858 2.74369 5.64936C2.66292 5.73015 2.55337 5.77554 2.43914 5.77554H0.504416C0.390191 5.77554 0.280645 5.73015 0.199875 5.64936C0.119106 5.56858 0.0737305 5.459 0.0737305 5.34475V3.28726C0.0737305 3.17301 0.119106 3.06344 0.199875 2.98265C0.280645 2.90186 0.390191 2.85648 0.504416 2.85648C0.618641 2.85648 0.728188 2.90186 0.808957 2.98265C0.889727 3.06344 0.935102 3.17301 0.935102 3.28726V4.21594C1.63644 2.97475 2.72925 2.00104 4.04264 1.44708C5.35602 0.893127 6.81592 0.79016 8.19403 1.15429C9.57214 1.51841 10.7907 2.3291 11.6593 3.45956C12.5278 4.59003 12.9973 5.97653 12.9943 7.40224ZM6.10333 9.50388V7.7983C5.1216 7.6382 4.38059 6.94201 4.38059 6.10988C4.38059 5.27775 5.1216 4.58157 6.10333 4.42147V3.95595C6.10333 3.8417 6.14871 3.73213 6.22948 3.65134C6.31025 3.57055 6.41979 3.52517 6.53402 3.52517C6.64824 3.52517 6.75779 3.57055 6.83856 3.65134C6.91933 3.73213 6.96471 3.8417 6.96471 3.95595V4.42147C7.94644 4.58157 8.68745 5.27775 8.68745 6.10988C8.68745 6.22413 8.64207 6.33371 8.56131 6.41449C8.48054 6.49528 8.37099 6.54067 8.25676 6.54067C8.14254 6.54067 8.03299 6.49528 7.95222 6.41449C7.87145 6.33371 7.82608 6.22413 7.82608 6.10988C7.82608 5.74309 7.46059 5.42199 6.96471 5.30061V7.00619C7.94644 7.16629 8.68745 7.86247 8.68745 8.6946C8.68745 9.52673 7.94644 10.2229 6.96471 10.383V10.8485C6.96471 10.9628 6.91933 11.0724 6.83856 11.1531C6.75779 11.2339 6.64824 11.2793 6.53402 11.2793C6.41979 11.2793 6.31025 11.2339 6.22948 11.1531C6.14871 11.0724 6.10333 10.9628 6.10333 10.8485V10.383C5.1216 10.2229 4.38059 9.52673 4.38059 8.6946C4.38059 8.58035 4.42597 8.47078 4.50673 8.38999C4.5875 8.3092 4.69705 8.26382 4.81128 8.26382C4.9255 8.26382 5.03505 8.3092 5.11582 8.38999C5.19659 8.47078 5.24196 8.58035 5.24196 8.6946C5.24196 9.0614 5.60745 9.38249 6.10333 9.50388ZM6.96471 7.88533V9.50388C7.46059 9.38249 7.82608 9.0614 7.82608 8.6946C7.82608 8.32781 7.46059 8.00671 6.96471 7.88533ZM6.10333 6.91916V5.30061C5.60745 5.42199 5.24196 5.74309 5.24196 6.10988C5.24196 6.47668 5.60745 6.79777 6.10333 6.91916Z" fill="black"/>
            </svg>
        </div>
        <p class="text-sm tracking-[-0.7px]">
            30-Day Guarantee
        </p>

    </div>

</div>