<div
  class="group-block mt-12"
>
  {% if block.settings.title != blank %}
    <h4 class="group-header text-[30px] tracking-[-1.5px] text-white mb-1 font-semibold">{{ block.settings.title }}</h4>
  {% endif %}
  <ul class="pl-4">
    {% content_for 'blocks' %}
  </ul>
  
</div>

{% schema %}
{
  "name": "Group",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
        "type": "text",
        "id": "title",
        "label": "Group Header",
        "default": "My Group Header"
    }
  ],
  "presets": [
    {
      "name": "Group"
    },
    {
      "name": "Column",
      "settings": {
        "color_scheme": "scheme-3",
        "title": "Default Column Header"
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h3>Hello, world!</h3>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p>How's it going?<\/p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
