
  
<li class="text-block list-disc">
    <a class="text-base xl:text-[30px] tracking-[-0.8px] xl:tracking-[-1.5px] text-white mb-1 font-bold underline leading-tight block" target="_blank" href="{{ block.settings.link }}">
        {{ block.settings.title }}
    </a>
</li>
  
{% schema %}
  {
    "name": "Reference Link",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Reference Label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Reference link"
      }
    ],
    "presets": [
      { "name": "Reference Link" }
      
    ]
  }
{% endschema %}
  