<section id="mush--main-blog-header">
    <div class="section-wrapper px-7 xl:px-[110px] py-10 xl:py-[132px]"  style="background: {{ section.settings.background }};">
        <h1 class="blog--title text-[40px] xl:text-[116px] text-white tracking-[-2px] xl:tracking-[-5.813px] text-center uppercase font-extrabold mb-3">
            {{ section.settings.title }}
        </h1>
        <div class="blog--subtext text-center text-white text-base xl:text-[32px] tracking-[-0.8px] xl:tracking-[-1.6px] leading-[1.1] px-3 xl:px-[8rem]">
            {{ section.settings.Subtext }}
        </div>

    </div>

</section>

{% schema %} 
    {
        "name": "Blog Header",
        "class": "section--main-blog-header",
        "settings": [
            {
                "type": "color_background",
                "id": "background",
                "label": "Background Color"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "The Mush Blog"
            },
            {
                "type": "richtext",
                "id": "Subtext",
                "label": "Subtext"
            }
        ],
        "presets": [
            {
                "name": "Blog Header"
            }
        ]
    } 
{% endschema %}