<div class="bg-black text-white px-12 xl:px-20 py-[74px] xl:py-[94px]">
    <div class="w-full lg:w-2/3 xl:w-1/2 mx-auto flex flex-col items-center">
        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Mushpreneur_Logo--White.png?v=1738159833" class="w-[215px] lg:w-[430px] mb-6 xl:mb-9" alt="Mushpreneur Logo Footer">

        <div class="border border-white px-4 xl:px-10 py-7 xl:py-[36px] rounded-[10px] xl:rounded-[20px] mb-6 xl:mb-10">
            <p class="text-sm xl:text-lg tracking-[-0.7px] xl:tracking-[-0.9px] text-center">
                These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.
            </p>
        </div>

        <p class="text-[10px] xl:text-lg tracking-[-0.5px] xl:tracking-[-0.9px] mb-6 leading-none">&copy; 2025 Mushpreneur LLC. All Rights Reserved</p>


        <!--Privacy Links: Desktop -->
        <ul class="flex flex-wrap justify-center items-center cursor-pointer gap-1 xl:gap-2 text-[12px] xl:text-sm tracking-[-0.6px] xl:tracking-[-0.722px]">
            <li class="tracking-[-0.722px]">Privacy Policy</li>
            <li class="space-dot flex-shrink-0"></li>
            <li class="tracking-[-0.722px]">Terms of Service</li>
            <li class="space-dot flex-shrink-0"></li>
            <li class="tracking-[-0.722px]">Do Not Sell My Personal Information</li>
            <li class="space-dot flex-shrink-0"></li>
            <li class="tracking-[-0.722px]">Manage Cookies</li>
        </ul>
    </div>
</div>



{% schema %}
    {
      "name": "t:sections.main-password-footer.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
{% endschema %}
    