
<style>
    .password-header-fixed{
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 100;
    }
</style>
<header class="custom--header section-header main-theme-header header_ bg-black flex items-center justify-center px-5 xl:px-20 py-[34px] lg:py-[22px] xl:py-[28px] text-black">
    <div class="w-fit">
      <a href="/">
        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Mushpreneur_Logo--White.png?v=1738159833" class="w-[148px] lg:w-[250px]" alt="Mushpreneur Logo">
      </a>
</header>


{% schema %}
    {
      "name": "t:sections.main-password-header.name",
      "class": "password-header-fixed",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-password-header.settings.logo_header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-password-header.settings.logo_help.content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
{% endschema %}