<section id="mush--product-usps">
    <div class="section-wrapper bg-black px-[188px] py-[110px]">
        <div class="grid grid-cols-2 xl:flex gap-7 xl:gap-11 xl:justify-between text-white font-semibold">
            <div class="flex flex-col items-center gap-7">
                <img class="w-[112px] h-[112px]" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--sustained-energy.png?v=1736918965" alt="Sustained Energy">
                <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">Sustained Energy</p>
            </div>
            <div class="flex flex-col items-center gap-7">
                <img class="w-[112px] h-[112px]" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--lazer-sharp-focus.png?v=1736920668" alt="Laser Sharp Focus">
                <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">Laser Sharp Focus</p>
            </div>
            <div class="flex flex-col items-center gap-7">
                <img class="w-[112px] h-[112px]" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--mood-nootropics.png?v=1736920667" alt="Mood Nootropics">
                <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">Mood Nootropics</p>
            </div>
            <div class="flex flex-col items-center gap-7">
                <img class="w-[112px] h-[112px]" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--zen-like-calm.png?v=1736920667" alt="Zen Like Calm">
                <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">Zen Like Calm</p>
            </div>
            <div class="flex flex-col items-center gap-7">
                <img class="w-[112px] h-[112px]" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--jitter-free.png?v=1736920667" alt="Jitter Free">
                <p class="text-sm lg:text-lg tracking-[-0.684px] lg:tracking-[-1px] leading-[1.1]">Jitter Free</p>
            </div>
        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "Product USPs",
        "class": "section--product-usps",
        "settings": [

        ],
        "presets": [
            {
                "name": "Product USPs"
            }
        ]
    } 
{% endschema %}