<section id="mush--power-of-mushrooms">
    <div class="section-wrapper px-3 lg:px-7 xl:px-[100px] pt-[36px] lg:pt-[76px] pb-[42px] lg:pb-[110px]">
        <div class="rounded-[20px] lg:rounded-[46px] px-7 lg:px-12 xl:px-[74px] py-8 lg:pt-[62px] lg:pb-[84px] border-[2.5px] lg:border-[5px] border-pink">
            <div class="grid grid-cols-1 lg:grid-cols-2 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <div class="text-center lg:text-left">
                    <h3 class="text-[ 32.983px] lg:text-[59.62px] tracking-[-1.649px] lg:tracking-[-2.981px] font-semibold mb-6 lg:mb-10">
                        The Power is in the Mushrooms
                    </h3>
                    <p class="text-sm lg:text-2xl font-light tracking-[-0.7px] lg:tracking-[-1.2px] px-3 lg:px-0 mb-5 lg:mb-0">
                        Day Shrooms is a powerful all-in-one mushroom nootropic blend that helps to unlock your supernatural self. Mushrooms are nature's ancient superpower, and our formula contains functional mushrooms, natural nootropics, adaptogens, and essential vitamins. 
                    </p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Mushroom_Image_1_f4a3c544-2526-4543-9c74-c2e6fc062a5f.png?v=1739959529" alt="Mushroom Image">
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2">
                <div>
                    <div class="mb-3 lg:mb-6">
                        <h4 class="text-base lg:text-[31.21px] text-pinkorange tracking-[-0.8px] lg:tracking-[-1.561px] font-medium leading-tight">Mushroom Superpowers</h4>
                        <p class="text-base lg:text-[30.21px] tracking-[-0.8px] lg:tracking-[-1.561px] font-light">
                            Functional properties beyond basic nutrition
                        </p>
                    </div>
                    <div class="mb-3 lg:mb-0">
                        <h4 class="text-base lg:text-[31.21px] text-pinkorange tracking-[-0.8px] lg:tracking-[-1.561px] font-medium leading-tight">Natural Nootropics </h4>
                        <p class="text-base lg:text-[30.21px] tracking-[-0.8px] lg:tracking-[-1.561px] font-light">
                            Supports improved mental performance
                        </p>
                    </div>
                </div>
                <div class="lg:ml-[110px]">
                    <div class="mb-3 lg:mb-6">
                        <h4 class="text-base lg:text-[31.21px] text-pinkorange tracking-[-0.8px] lg:tracking-[-1.561px] font-medium leading-tight">Natural Adaptogens</h4>
                        <p class="text-base lg:text-[30.21px] tracking-[-0.8px] lg:tracking-[-1.561px] font-light">
                            Better adapt to daily stressors
                        </p>
                    </div>
                    <div class="mb-3 lg:mb-0">
                        <h4 class="text-base lg:text-[31.21px] text-pinkorange tracking-[-0.8px] lg:tracking-[-1.561px] font-medium leading-tight">Clean Caffeine</h4>
                        <p class="text-base lg:text-[30.21px] tracking-[-0.8px] lg:tracking-[-1.561px] font-light">
                            Powered by green tea + l-theanine
                        </p>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
</section>


{%  schema  %} 
    {
        "name": "Power of Mushrooms",
        "class": "section--power-of-mushrooms",
        "settings": [

        ],
        "presets": [
            {
                "name": "Power of Mushrooms"
            }
        ]
    } 
{% endschema %}