
<style>


    .slick--social-proof {
        width: 100%;
        /* overflow-x: hidden; */
        padding-bottom: 30px;
        /* overflow-y: visible; */
        overflow: visible;
        /* clip-path: inset(0px 0px -10px 0px); */
    }


    


    .slick--social-proof .slick-list{
        overflow: visible;
    }

    .slick--social-proof .slick-track
    {
        display: flex !important;
    }

    .slick--social-proof .slick-list .slick-slide{
        padding: 0 16px;
        height: inherit !important;
    }

    /* Pagination dots for Slick */
    .slick-dots{
        display: flex;
        justify-content:center ;
        margin-top: 10px !important;
    }
    .slick-dots li button {
        background-color: #ccc; 
        border-radius: 50%;     
        width: 10px;
        height: 10px;
        margin: 0 5px;         
        padding: 0; 
        font-size: 0px !important;            
    }

    .slick-dots li.slick-active button {
        background-color: #E74936; 
    }


    .slick-dots {
        margin-top: 20px;
        text-align: center;
        position: relative;
        z-index: 10;
    }



    @media (max-width:1024px ) {
        /* .slick--social-proof{
            padding-left: 15% !important;
            padding-right: 15% !important;
            padding-bottom: 18px;
        } */

        .slick--social-proof .slick-list .slick-slide{
            padding: 0 10px;
            height: inherit !important;
        }
        
    }


</style>

<section id="mush--social-proof">
    <div class="section-wrapper py-[32px] xl:py-[90px] px-0 lg:px-12 xl:px-[86px] text-center">
        <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            <h2 class="text-[28px] lg:text-[48px] font-bold leading-[1.1] tracking-[-1.4px] lg:tracking-[-2.4px] mb-2 lg:mb-2.5 px-5 lg:px-0" >
                Why Doers Love Day Shrooms.
            </h2>
            <p class="text-[15px] lg:text-[28px] tracking-[-0.689px]  mb-7 lg:mb-12 lg:tracking-[-1.4px] leading-[1.1] px-5 lg:px-0">
                Join the thinkers, creators, and achievers who have discovered the smarter way to power their day.
            </p>
        </div>


        <!-- Reviews Slider -->
        <div class="relative pt-7 lg:pt-12">
            <div class="slick--social-proof grid grid-cols-3 gap-[35px]">
                {% for block in section.blocks %}
                    <div class="h-full">
                        <div class="relative w-full h-full flex flex-col justify-between px-6 lg:px-[32px] pt-[34px] lg:pt-[54px] pb-5 lg:pb-[30px] text-white text-center cursor-pointer" style="border-radius: 18.716px; background: var(--e-458252-paints, linear-gradient(178deg, rgba(238, 26, 110, 0.00) 39.14%, #EE1A6E 245.11%), #E45825);">
                            <div>
                                <!-- Reviewer Image -->
                                <div class="absolute w-12 h-12 lg:w-20 lg:h-20 rounded-full bg-yellow left-1/2 top-0 -translate-x-1/2 -translate-y-1/2">
                                    {% if block.settings.review_img %}
                                        <img src="{{ block.settings.review_img | img_url: 'master' }}" alt="Reviewer">
                                    {% endif %}
                                </div>

                                <!-- Review Stars -->
                                <div class="mx-auto flex justify-center mb-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="109" height="20" viewBox="0 0 109 20" fill="none">
                                        <path d="M19.411 7.75194C19.2867 7.36743 18.9456 7.09434 18.5421 7.05798L13.0615 6.56033L10.8942 1.48776C10.7344 1.11601 10.3705 0.875366 9.96617 0.875366C9.56182 0.875366 9.19789 1.11601 9.03809 1.48863L6.87088 6.56033L1.38933 7.05798C0.986569 7.09521 0.646399 7.36743 0.52137 7.75194C0.396341 8.13644 0.511808 8.55817 0.816484 8.82402L4.95923 12.4572L3.73763 17.8384C3.64824 18.2341 3.80181 18.643 4.1301 18.8803C4.30656 19.0078 4.51301 19.0727 4.7212 19.0727C4.9007 19.0727 5.07875 19.0244 5.23855 18.9287L9.96617 16.1032L14.692 18.9287C15.0379 19.1368 15.4738 19.1178 15.8014 18.8803C16.1298 18.6423 16.2832 18.2332 16.1938 17.8384L14.9722 12.4572L19.115 8.82475C19.4197 8.55817 19.536 8.13716 19.411 7.75194Z" fill="#FFC107"/>
                                        <path d="M41.6737 7.75194C41.5494 7.36743 41.2083 7.09434 40.8048 7.05798L35.3242 6.56033L33.1569 1.48776C32.9971 1.11601 32.6332 0.875366 32.2289 0.875366C31.8245 0.875366 31.4606 1.11601 31.3008 1.48863L29.1336 6.56033L23.652 7.05798C23.2493 7.09521 22.9091 7.36743 22.7841 7.75194C22.659 8.13644 22.7745 8.55817 23.0792 8.82402L27.2219 12.4572L26.0003 17.8384C25.9109 18.2341 26.0645 18.643 26.3928 18.8803C26.5693 19.0078 26.7757 19.0727 26.9839 19.0727C27.1634 19.0727 27.3414 19.0244 27.5012 18.9287L32.2289 16.1032L36.9547 18.9287C37.3006 19.1368 37.7365 19.1178 38.0641 18.8803C38.3925 18.6423 38.5459 18.2332 38.4565 17.8384L37.2349 12.4572L41.3777 8.82475C41.6824 8.55817 41.7987 8.13716 41.6737 7.75194Z" fill="#FFC107"/>
                                        <path d="M63.9373 7.75194C63.813 7.36743 63.472 7.09434 63.0685 7.05798L57.5878 6.56033L55.4206 1.48776C55.2608 1.11601 54.8969 0.875366 54.4925 0.875366C54.0882 0.875366 53.7243 1.11601 53.5645 1.48863L51.3972 6.56033L45.9157 7.05798C45.5129 7.09521 45.1728 7.36743 45.0477 7.75194C44.9227 8.13644 45.0382 8.55817 45.3429 8.82402L49.4856 12.4572L48.264 17.8384C48.1746 18.2341 48.3282 18.643 48.6565 18.8803C48.8329 19.0078 49.0394 19.0727 49.2476 19.0727C49.4271 19.0727 49.6051 19.0244 49.7649 18.9287L54.4925 16.1032L59.2184 18.9287C59.5642 19.1368 60.0002 19.1178 60.3277 18.8803C60.6562 18.6423 60.8096 18.2332 60.7202 17.8384L59.4986 12.4572L63.6413 8.82475C63.946 8.55817 64.0624 8.13716 63.9373 7.75194Z" fill="#FFC107"/>
                                        <path d="M86.2 7.75194C86.0757 7.36743 85.7347 7.09434 85.3312 7.05798L79.8505 6.56033L77.6833 1.48776C77.5235 1.11601 77.1596 0.875366 76.7552 0.875366C76.3509 0.875366 75.9869 1.11601 75.8272 1.48863L73.6599 6.56033L68.1784 7.05798C67.7756 7.09521 67.4355 7.36743 67.3104 7.75194C67.1854 8.13644 67.3009 8.55817 67.6055 8.82402L71.7483 12.4572L70.5267 17.8384C70.4373 18.2341 70.5909 18.643 70.9192 18.8803C71.0956 19.0078 71.3021 19.0727 71.5103 19.0727C71.6898 19.0727 71.8678 19.0244 72.0276 18.9287L76.7552 16.1032L81.4811 18.9287C81.8269 19.1368 82.2629 19.1178 82.5904 18.8803C82.9189 18.6423 83.0723 18.2332 82.9829 17.8384L81.7613 12.4572L85.904 8.82475C86.2087 8.55817 86.3251 8.13716 86.2 7.75194Z" fill="#FFC107"/>
                                        <path d="M108.461 7.75194C108.336 7.36743 107.995 7.09434 107.592 7.05798L102.111 6.56033L99.9441 1.48776C99.7843 1.11601 99.4203 0.875366 99.016 0.875366C98.6116 0.875366 98.2477 1.11601 98.0879 1.48863L95.9207 6.56033L90.4391 7.05798C90.0364 7.09521 89.6962 7.36743 89.5712 7.75194C89.4461 8.13644 89.5616 8.55817 89.8663 8.82402L94.009 12.4572L92.7874 17.8384C92.698 18.2341 92.8516 18.643 93.1799 18.8803C93.3564 19.0078 93.5628 19.0727 93.771 19.0727C93.9505 19.0727 94.1286 19.0244 94.2884 18.9287L99.016 16.1032L103.742 18.9287C104.088 19.1368 104.524 19.1178 104.851 18.8803C105.18 18.6423 105.333 18.2332 105.244 17.8384L104.022 12.4572L108.165 8.82475C108.469 8.55817 108.586 8.13716 108.461 7.75194Z" fill="#FFC107"/>
                                    </svg>
                                </div>
                                

                                <h4 class="text-[17.087px] lg:text-[28px] font-semibold tracking-[-0.854px] lg:tracking-[-1.361px] text-white mb-1">{{ block.settings.review_header }}</h4>

                                <p class="text-[10px] lg:text-sm font-light tracking-[-0.5px] lg:tracking-[-0.681px] mb-4">
                                    {{ block.settings.review_desc }}
                                </p>

                            </div>
                            

                            <div>
                                <p class="text-[9px] lg:text-[10.192px] tracking-[-0.45px] lg:tracking-[-0.51px]">
                                    {{ block.settings.reviewer_name }}
                                </p>
                                {% if block.settings.reviewer_verified %}
                                    <p class="text-[8px] lg:text-[8.507px] tracking-[-0.4px] lg:tracking-[-0.425px]">
                                        Verified Buyer
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
           
        </div>



    </div>

</section>


<script>


$(document).ready(function(){
  $('.slick--social-proof').slick({
    infinite: true,
    centerMode: true,
    speed: 300,
    slidesToShow: 1,
    slidesToScroll: 1,
    dots: true,      
    arrows: false,   
    mobileFirst: true,
    responsive: [
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 1,
                infinite: false,
                centerMode:false,
                dots: false // Disable dots on large screens (if required)
            }
        }
    ]
  });
});


</script>







{%  schema  %} 
    {
        "name": "Social Proof",
        "class": "section--social-proof",
        "settings": [

        ],
        "blocks": [
            {
                "name": "Review",
                "type": "review",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "review_img",
                        "label": "Review - Image"
                    },
                    {
                        "type": "text",
                        "id": "review_header",
                        "label": "Review - Header"
                    },
                    {
                        "type": "textarea",
                        "id": "review_desc",
                        "label": "Review - Description"
                    },
                    {
                        "type": "text",
                        "id": "reviewer_name",
                        "label": "Reviewer - Name"
                    },
                    {
                        "type": "checkbox",
                        "id": "reviewer_verified",
                        "label": "Reviewer Verified",
                        "default": true
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Social Proof"
            }
        ]
    } 
{% endschema %}