<section id="mush--power-of-mushrooms">
    <div class="section-wrapper px-[100px] pt-[76px] pb-[110px]">
        <div class="rounded-[46px] px-[74px] pt-[62px] pb-[84px]" style="border: 5px solid var(--Style, #F2008C);">
            <div class="grid grid-cols-2">
                <div>
                    <h3 class="text-[59.62px] tracking-[-2.981px] font-semibold mb-10">
                        The Power is in the Mushrooms
                    </h3>
                    <p class="text-2xl font-light tracking-[-1.2px]">
                        Day Shrooms is a powerful all-in-one mushroom nootropic blend that helps to unlock your supernatural self. Mushrooms are nature's ancient superpower, and our formula contains functional mushrooms, natural nootropics, adaptogens, and essential vitamins. 
                    </p>
                </div>
                <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Mushroom_Image_1.png?v=1736921596" alt="Mushroom Image">
            </div>

            <div class="grid grid-cols-2">
                <div>
                    <div class="mb-6">
                        <h4 class="text-[31.21px] text-pinkorange tracking-[-1.561px] font-medium">Mushroom Superpowers</h4>
                        <p class="text-[30.21px] tracking-[-1.561px] font-light">
                            Functional properties beyond basic nutrition
                        </p>
                    </div>
                    <div class="">
                        <h4 class="text-[31.21px] text-pinkorange tracking-[-1.561px] font-medium">Natural Nootropics </h4>
                        <p class="text-[30.21px] tracking-[-1.561px] font-light">
                            Supports improved mental performance
                        </p>
                    </div>
                </div>
                <div class="ml-[110px]">
                    <div class="mb-6">
                        <h4 class="text-[31.21px] text-pinkorange tracking-[-1.561px] font-medium">Natural Adaptogens</h4>
                        <p class="text-[30.21px] tracking-[-1.561px] font-light">
                            Better adapt to daily stressors
                        </p>
                    </div>
                    <div class="">
                        <h4 class="text-[31.21px] text-pinkorange tracking-[-1.561px] font-medium">Clean Caffeine</h4>
                        <p class="text-[30.21px] tracking-[-1.561px] font-light">
                            Powered by green tea + l-theanine
                        </p>
                    </div>
                </div>
                

            </div>

        </div>
    </div>
</section>


{%  schema  %} 
    {
        "name": "Power of Mushrooms",
        "class": "section--power-of-mushrooms",
        "settings": [

        ],
        "presets": [
            {
                "name": "Power of Mushrooms"
            }
        ]
    } 
{% endschema %}