<section id="mush--coffee-vs-shrooms">
    <div class="section-wrapper text-black">
        <div class="bg-white pt-4 lg:pt-[128px] pb-[62px] lg:pb-[82px] px-8 lg:px-[105px]">
           
            <div class="xl:w-4/5 mx-auto pt-[22px] xl:pt-[66px] relative xl:px-10">
            <div class="absolute h-[2px] xl:h-1 w-[calc(100%+2rem)] top-0 left-1/2 -translate-x-1/2" style="background: linear-gradient(90deg, #F2008C 0%, #E74936 100%);">

            </div>
                <h2 class="px-8 text-center text-[26.191px] lg:text-[48px] xl:text-[52.929px] font-medium lg:font-semibold mb-5 lg:mb-[38px] tracking-[-1.31px] lg:tracking-[-2.646px] xl:tracking-[-3.2px] leading-none {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                    Coffee’s cool, but shrooms are smarter.
                </h2>

                {% comment %} <div class="grid grid-cols-3 xl:gap-2 items-end mb-5 xl:mb-[86px]  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                    <div class="flex flex-col py-[22px] xl:py-[54px] gap-5 xl:gap-[56px] text-[8.8px] lg:text-lg xl:text-[25.482px] font-medium tracking-[-0.439px] lg:tracking-[-0.8px] xl:tracking-[-1.274px]">
                        <div class="text-sm lg:text-lg xl:text-[29.071px] font-bold tracking-[-0.7px] xl:tracking-[-1.454px] opacity-0">Comparison</div>
                        <p class="h-5 lg:h-8 xl:h-14 text-[11.4px] tracking-[-0.6px] xl:text-[25.482px] xl:tracking-[-1.274px] leading-none font-medium">Smooth Energy, No <br/> Jitters, No Crash</p>
                        <p class="h-5 lg:h-8 xl:h-14 text-[11.4px] tracking-[-0.6px] xl:text-[25.482px] xl:tracking-[-1.274px] leading-none font-medium">Cognitive Boost <br/> with Nootropics</p>
                        <p class="h-5 lg:h-8 xl:h-14 text-[11.4px] tracking-[-0.6px] xl:text-[25.482px] xl:tracking-[-1.274px] leading-none font-medium">Stress Relief with <br/> Adaptogens</p>
                        <p class="h-5 lg:h-8 xl:h-14 text-[11.4px] tracking-[-0.6px] xl:text-[25.482px] xl:tracking-[-1.274px] leading-none font-medium">100% Daily Value <br/> of B12 & D12s</p>
                        <p class="h-5 lg:h-8 xl:h-14 text-[11.4px] tracking-[-0.6px] xl:text-[25.482px] xl:tracking-[-1.274px] leading-none font-medium">Enjoy hot, iced, 
                            <br/>latte style or as an
                            <br/>espresso boost
                        </p>
                    
                    </div>
                    <div class="flex flex-col items-center py-[22px] xl:py-[34px] gap-5 xl:gap-[56px] text-[8.8px] lg:text-base xl:text-[30px] font-medium tracking-[-0.439px] xl:tracking-[-1.535px] text-white rounded-[20px] xl:rounded-[38.973px]" style="background: var(--0000002-paints, radial-gradient(1202.27% 229.54% at -45.8% -8.4%, #E45825 0%, #F2008C 100%), #000);">
                        <div class="text-sm lg:text-lg xl:text-[29.071px] font-bold tracking-[-0.7px] xl:tracking-[-1.454px]">Day Shrooms</div>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 xl:w-10 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 xl:w-10 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 xl:w-10 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 xl:w-10 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 xl:w-10 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                    </div>
                    <div class="flex flex-col items-center py-[22px] xl:py-[34px] gap-5 xl:gap-[56px] text-[8.8px] lg:text-base xl:text-[30px] font-medium tracking-[-0.439px] xl:tracking-[-1.535px]">
                        <div class="text-sm lg:text-lg xl:text-[29.071px] font-bold tracking-[-0.7px] xl:tracking-[-1.454px]">Coffee</div>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 xl:w-8 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 xl:w-8 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 xl:w-8 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 xl:w-8 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 xl:w-8 xl:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                    </div>
                
                </div> {% endcomment %}

                <div class="grid grid-cols-3 lg:gap-2 items-end mb-5 lg:mb-[86px]  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                    <div class="flex flex-col py-[22px] lg:py-[54px] gap-5 lg:gap-[56px] text-[8.8px] lg:text-lg lg:text-[25.482px] font-medium tracking-[-0.439px] lg:tracking-[-0.8px] lg:tracking-[-1.274px]">
                        <div class="text-sm lg:text-lg lg:text-[29.071px] font-bold tracking-[-0.7px] lg:tracking-[-1.454px] opacity-0">Comparison</div>
                        <p class="h-5 lg:h-8 lg:h-14 text-[11.4px] tracking-[-0.6px] lg:text-[25.482px] lg:tracking-[-1.274px] leading-none font-medium">Smooth Energy, No <br/> Jitters, No Crash</p>
                        <p class="h-5 lg:h-8 lg:h-14 text-[11.4px] tracking-[-0.6px] lg:text-[25.482px] lg:tracking-[-1.274px] leading-none font-medium">Cognitive Boost <br/> with Nootropics</p>
                        <p class="h-5 lg:h-8 lg:h-14 text-[11.4px] tracking-[-0.6px] lg:text-[25.482px] lg:tracking-[-1.274px] leading-none font-medium">Stress Relief with <br/> Adaptogens</p>
                        <p class="h-5 lg:h-8 lg:h-14 text-[11.4px] tracking-[-0.6px] lg:text-[25.482px] lg:tracking-[-1.274px] leading-none font-medium">100% Daily Value <br/> of B12 & D12s</p>
                        <p class="h-5 lg:h-8 lg:h-14 text-[11.4px] tracking-[-0.6px] lg:text-[25.482px] lg:tracking-[-1.274px] leading-none font-medium">Enjoy hot, iced, 
                            <br/>latte style or as an
                            <br/>espresso boost
                        </p>
                    
                    </div>
                    <div class="flex flex-col items-center py-[22px] lg:py-[34px] gap-5 lg:gap-[56px] text-[8.8px] lg:text-base lg:text-[30px] font-medium tracking-[-0.439px] lg:tracking-[-1.535px] text-white rounded-[20px] lg:rounded-[38.973px]" style="background: var(--0000002-paints, radial-gradient(1202.27% 229.54% at -45.8% -8.4%, #E45825 0%, #F2008C 100%), #000);">
                        <div class="text-sm lg:text-lg lg:text-[29.071px] font-bold tracking-[-0.7px] lg:tracking-[-1.454px]">Day Shrooms</div>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 lg:w-10 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 lg:w-10 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 lg:w-10 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 lg:w-10 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                        <p class="w-5 h-5 lg:w-7 lg:h-7 lg:w-10 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="42" height="31" viewBox="0 0 42 31" fill="none">
                                <path d="M40.6986 1.80859C39.4095 0.517823 37.3163 0.518636 36.0256 1.80859L14.9936 22.8413L5.64584 13.4936C4.35507 12.2029 2.26275 12.2029 0.971984 13.4936C-0.318786 14.7844 -0.318786 16.8767 0.971984 18.1675L12.6562 29.8517C13.3012 30.4967 14.1469 30.82 14.9927 30.82C15.8385 30.82 16.6851 30.4975 17.3301 29.8517L40.6986 6.48237C41.9894 5.19249 41.9894 3.09928 40.6986 1.80859Z" fill="white"/>
                            </svg>
                        </p>
                    </div>
                    <div class="flex flex-col items-center py-[22px] lg:py-[34px] gap-5 lg:gap-[56px] text-[8.8px] lg:text-base lg:text-[30px] font-medium tracking-[-0.439px] lg:tracking-[-1.535px]">
                        <div class="text-sm lg:text-lg lg:text-[29.071px] font-bold tracking-[-0.7px] lg:tracking-[-1.454px]">Coffee</div>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 lg:w-8 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 lg:w-8 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 lg:w-8 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 lg:w-8 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                        <p class="w-4 h-5 lg:w-5 lg:h-8 lg:w-8 lg:h-14">
                            <svg class="w-full h-auto" xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none">
                                <path d="M19.2211 15.8363L29.2923 5.76514C30.4223 4.64092 30.4223 2.81992 29.304 1.68985C28.1798 0.559771 26.3588 0.559771 25.2287 1.67814L25.2228 1.68399L15.1517 11.7551L5.07471 1.68985C3.95049 0.565626 2.12363 0.565626 0.999414 1.68985C-0.124805 2.81406 -0.124805 4.64092 0.999414 5.76514L11.0705 15.8363L0.999414 25.9074C-0.124805 27.0316 -0.124805 28.8585 0.999414 29.9827C2.12363 31.1069 3.95049 31.1069 5.07471 29.9827L15.1458 19.9116L25.217 29.9827C26.3412 31.1069 28.168 31.1069 29.2923 29.9827C30.4165 28.8585 30.4165 27.0316 29.2923 25.9074L19.2211 15.8363Z" fill="black"/>
                            </svg>
                        </p>
                    </div>
                
                </div>
            </div>


        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "Coffee v/s Shrooms",
        "class": "section--coffee-vs-shrooms",
        "settings": [

        ],
        "presets": [
            {
                "name": "Coffee v/s Shrooms"
            }
        ]
    } 
{% endschema %}