<style>
    .ingredients-header-color{
        background: linear-gradient(90deg, #FF119B 0%, #F80 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>


<section id="mush--supercharged-ingredients">
    <div class="section-wrapper bg-black px-0 pt-[88px] pb-[236px] relative">

        <div class="text-white">
            <h3 class="text-white text-center font-bold text-[51.682px] tracking-[-2.584px] mb-3">
                <span class="ingredients-header-color tracking-[-2.584px]">Supercharged ingredients </span>
                for Mood, Energy & Focus
            </h3>
            <p class="w-2/3 mx-auto font-medium text-center text-[30px] tracking-[-1.5px] px-10">
                We prioritize clean, natural ingredients. Day Shrooms harnesses the power of nature's finest ingredients to fuel your day.
            </p>


            <!-- TODO: Add Ingredients Slider -->
        </div>


        <div class="absolute left-0 bottom-0 w-full overflow-hidden">
            <svg class="w-full translate-y-[1px] h-auto" xmlns="http://www.w3.org/2000/svg" width="1440" height="171" viewBox="0 0 1440 171" fill="none">
                <path d="M1091.25 122.201C793.5 98.0025 809.625 -26.6183 521.25 55.2522C232.875 137.123 0 55.2522 0 55.2522V171H1440V0C1440 0 1389 146.399 1091.25 122.201Z" fill="#E74639"/>
            </svg>
        </div>

    </div>

</section>


{%  schema  %} 
    {
        "name": "Supercharged Ingredients",
        "class": "section--supercharged-ingredients",
        "settings": [

        ],
        "presets": [
            {
                "name": "Supercharged Ingredients"
            }
        ]
    } 
{% endschema %}