<section id="mush--active-ingredients">
    <div class="section-wrapper pt-[32px] lg:pt-[60px] pb-[280px] lg:pb-[160px] px-[38px] lg:px-0 lg:px-12 xl:pl-[104px] relative z-[2] overflow-x-hidden">

        <div class="lg:w-2/3 relative z-[2]">
            <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <h2 class="text-[21.1px] lg:text-[60px] font-bold tracking-[-1.06px] lg:tracking-[-3px] leading-tight text-center lg:text-left">
                    It's all about the 
                    <span class="text-lightorange tracking-[-1.06px] lg:tracking-[-3px]">active ingredients.</span>
                </h2>
                <p class="text-[12px] lg:text-[30px] font-medium tracking-[-0.6px] lg:tracking-[-1.5px] leading-[1.1] mb-6 lg:mb-[60px] text-center lg:text-left">
                    Made with all natural active ingredients and 2/3 the caffeine of coffee and a hint of sweet sourced from organic maple sugar and monk fruit. 
                </p>
            </div>



            <!-- Table -->
            <div class="leading-none lg:pr-32 mb-6 lg:mb-9 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Organic Raw Cacao</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Mood-enhancing</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Organic Raw Black Maca</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Stamina boost</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Organic Lion's Mane</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Enhanced focus</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Organic Cordyceps</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">All-day energy boost</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">L-theanine + Caffeine</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Wakeful relaxation</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Rhodiola Rosea Root</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Regulates stress & fatigue</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Ashwagandha KSM-66</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Reduces anxiety</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Vitamin B12/D2</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Immune health</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4 border-b border-orange">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Bacopa Monnieri</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Brain boost</p>
                </div>
                <div class="text-[11.5px] lg:text-xl xl:text-2xl flex items-center justify-between py-2 lg:py-2 xl:py-4">
                    <p class="font-semibold tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Baja Gold Sea Salt</p>
                    <p class="tracking-[-0.577px] lg:tracking-[-0.9px] xl:tracking-[-1.167px]">Electrolytes</p>
                </div>
            </div>

            <a href="#" class="btn btn-tertiary block mx-auto lg:mx-unset">
                Learn More
            </a>


        </div>


        <!-- Spoon: Desktop -->
        <div class="absolute right-0 lg:bottom-[20px] xl:bottom-[40px] w-1/2 z-1 px-6 hidden lg:block">
            <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--spoon-img-desk_1.png?v=1736144208" alt="Spoon Image">
        </div>

        <!-- Spoon: Mobile -->
        <div class="absolute right-0 bottom-0 w-full z-0 px-0 lg:hidden max-w-[392px]">
            <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--spoon-img-mob_1.png?v=1736243135" alt="Spoon Image">
        </div>



        <div class="absolute left-0 bottom-0 w-full overflow-hidden">
            <svg class="w-full translate-y-[1px] h-auto" xmlns="http://www.w3.org/2000/svg" width="1440" height="157" viewBox="0 0 1440 157" fill="none">
                <path d="M1091.01 113.862C793.051 91.315 809.187 -24.8019 520.612 51.4819C232.037 127.766 -0.999878 51.4819 -0.999878 51.4819V159.331H1440V0C1440 0 1388.96 136.409 1091.01 113.862Z" fill="#98E1FF"/>
            </svg>
        </div>
    </div>
</section>

{%  schema  %} 
    {
        "name": "Active Ingredients",
        "class": "section--active-ingredients",
        "settings": [

        ],
        "presets": [
            {
                "name": "Active Ingredients"
            }
        ]
    } 
{% endschema %}