<style>
    .marquee3k {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }

    .marquee3k p {
        display: inline-block;
        margin: 0;
    }

    .marquee-container {
        background: linear-gradient(90deg, #E74937 0%, #F2008C 100%);
    }

    .marquee3k span{
        padding: 0 4px 0 4px;
    }

    @media (min-width: 990px) {
        .marquee3k span{
            padding: 0 1.5rem 0 1.5rem;
        }
    }
</style>

<section id="mush--usp-marquee-scroll">
    <div class="marquee-container pt-1 pb-3 lg:py-7">
        <div class="marquee3k" data-speed="0.5" data-reverse="L to R">
            <div class="wrapper">
                {% for block in section.blocks %}
                    <span class="text-white uppercase inline-block text-[12px] lg:text-2xl font-medium tracking-[-0.6px] lg:tracking-[-1.2px] leading-none">
                        {{ block.settings.usp }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        Marquee3k.init();

        console.log('instances: ', Marquee3k.instances); 
    });
</script>



{%  schema  %} 
    {
        "name": "USP Marquee Scroll",
        "class": "section--usp-marquee-scroll",
        "settings": [

        ],
        "blocks": [
            {
                "name": "USP",
                "type": "usp",
                "settings": [
                    {
                        "type": "text",
                        "id": "usp",
                        "label": "USP"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "USP Marquee Scroll"
            }
        ]
    } 
{% endschema %}