<style>
    .day-shrooms-quote-color{
        background: var(--linear-2-paints, linear-gradient(90deg, #F2008C 0%, #E74936 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

</style>

<section id="mush--day-shrooms-quote">
    <div class="section-wrapper bg-black px-[52px] xl:px-[232px] py-[66px] xl:pt-[160px] xl:pb-[82px] relative">

        <h2 class="text-white font-bold text-center text-2xl lg:text-[38px] xl:text-[58.143px] tracking-[-1.2px] lg:tracking-[-1.9px] xl:tracking-[-2.907px] leading-[1.1] relative  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            DAY SHROOMS WAS 
            <span class="day-shrooms-quote-color tracking-[-1.2px] lg:tracking-[-1.9px] xl:tracking-[-2.907px]">CREATED FOR HIGH-LEVEL THINKERS </span>
             LIKE ENTREPRENEURS, CREATIVE TYPES, 
            AND DECISION-MAKERS TO HELP GET SH!T DONE.


            <div class="quotation-mark--left absolute top-0 left-0 -translate-x-[80%] xl:-translate-x-full -translate-y-1/2 scale-[0.5] xl:scale-[1] origin-top-right">
                <!-- Quotation: Left -->
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="87" viewBox="0 0 100 87" fill="none">
                    <path d="M28.1687 29.8752C31.0106 23.9808 40.7317 19.6905 46.823 21.3648C47.245 21.4914 47.7092 21.4773 48.075 21.2804C48.3986 21.2241 48.7221 21.1679 48.9894 20.788C52.2814 17.4822 52.0846 14.0497 49.3274 10.4623C46.1341 6.28402 38.7766 7.29666 34.7391 8.99873C24.5539 13.3031 12.7507 22.4888 9.83824 33.7291C6.19437 40.7632 4.06992 48.8659 4.19629 56.1109C4.33681 60.7532 7.78332 64.0874 11.9192 65.635C16.055 67.1829 24.3972 71.0656 28.9551 69.6733C33.5132 68.2805 35.2719 63.4412 36.9601 59.3478C38.775 54.8321 42.658 46.4898 39.8165 41.6503C36.9328 36.9516 24.539 37.3732 28.1687 29.8752Z" fill="url(#paint0_linear_191_7795)"/>
                    <path d="M74.5897 43.8039C77.4316 37.9096 87.1523 33.6191 93.2439 35.2935C93.6659 35.4201 94.1301 35.406 94.4959 35.2091C94.8197 35.1529 95.143 35.0966 95.4106 34.7168C98.7026 31.411 98.5057 27.9784 95.7486 24.3911C92.5553 20.2128 85.1978 21.2254 81.16 22.9274C70.9748 27.2319 59.1716 36.4178 56.2592 47.6579C52.6153 54.6919 50.4908 62.7946 50.617 70.0395C50.7575 74.6819 54.204 78.0161 58.3401 79.5637C62.4759 81.1116 70.8181 84.9943 75.3761 83.602C79.9339 82.2092 81.6928 77.3699 83.381 73.2765C85.1959 68.7608 89.079 60.4185 86.2374 55.579C83.3537 50.8803 70.8192 51.2597 74.5897 43.8039Z" fill="url(#paint1_linear_191_7795)"/>
                    <defs>
                        <linearGradient id="paint0_linear_191_7795" x1="9.59634" y1="31.3772" x2="43.8848" y2="41.665" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2008C"/>
                        <stop offset="1" stop-color="#E74936"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_191_7795" x1="56.0172" y1="45.3059" x2="90.3059" y2="55.5937" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2008C"/>
                        <stop offset="1" stop-color="#E74936"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="quotation-mark--right absolute bottom-0 right-0 translate-x-[80%] xl:translate-x-full translate-y-1/2 xl:-translate-y-1/2 scale-[0.5] xl:scale-[1] origin-bottom-left">
                <!-- Quotation: Irght -->
                <svg xmlns="http://www.w3.org/2000/svg" width="98" height="83" viewBox="0 0 98 83" fill="none">
                    <path d="M71.808 53.345C69.4243 59.4391 60.0591 64.4589 53.8577 63.2544C53.4273 63.1603 52.9655 63.2098 52.6158 63.4341C52.2975 63.5149 51.9791 63.5957 51.7416 63.9948C48.7116 67.5422 49.1698 70.9497 52.1927 74.3162C55.6956 78.2386 62.9543 76.6673 66.8502 74.662C76.6772 69.5928 87.7448 59.533 89.7909 48.1032C92.8872 40.8116 94.387 32.5703 93.7081 25.3562C93.2136 20.738 89.5227 17.6766 85.2807 16.4492C81.0389 15.2216 72.4247 11.9868 67.9863 13.723C63.5478 15.4596 62.1636 20.419 60.7928 24.6294C59.3279 29.2704 56.0928 37.8848 59.2955 42.4932C62.5294 46.9582 74.8549 45.5918 71.808 53.345Z" fill="url(#paint0_linear_191_7792)"/>
                    <path d="M24.4559 42.9993C22.0722 49.0934 12.7072 54.1132 6.50568 52.9087C6.07521 52.8146 5.6134 52.8641 5.26373 53.0884C4.94517 53.1691 4.62708 53.25 4.38932 53.649C1.35925 57.1965 1.8175 60.604 4.84044 63.9705C8.34329 67.8928 15.602 66.3216 19.4981 64.3163C29.3251 59.2471 40.3928 49.1871 42.4388 37.7575C45.5352 30.4659 47.035 22.2246 46.3562 15.0105C45.8618 10.3924 42.1709 7.33097 37.9287 6.10351C33.6868 4.87586 25.0726 1.64114 20.6342 3.3773C16.196 5.11397 14.8116 10.0733 13.4407 14.2837C11.9758 18.9247 8.74077 27.5391 11.9434 32.1475C15.1774 36.6125 27.6463 35.2775 24.4559 42.9993Z" fill="url(#paint1_linear_191_7792)"/>
                    <defs>
                        <linearGradient id="paint0_linear_191_7792" x1="90.2116" y1="50.4298" x2="55.2379" y2="42.7891" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2008C"/>
                        <stop offset="1" stop-color="#E74936"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_191_7792" x1="42.8595" y1="40.0841" x2="7.88564" y2="32.4434" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F2008C"/>
                        <stop offset="1" stop-color="#E74936"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
        </h2>

        <div class="absolute bottom-0 left-1/2 -translate-x-1/2 h-[1px] xl:h-[2px] bg-white w-4/5">

        </div>

    </div>

</section>


{%  schema  %} 
    {
        "name": "Day Shrooms - Quote",
        "class": "section--day-shrooms-quote",
        "settings": [

        ],
        "presets": [
            {
                "name": "Day Shrooms - Quote"
            }
        ]
    } 
{% endschema %}