<section id="mush--usp-marquee-scroll">




    <div class="swiper-container swiper-usp-marquee py-3 lg:py-7" style="background: linear-gradient(90deg, #E74937 0%, #F2008C 100%), #E74936;">
            <div class="swiper-wrapper text-white uppercase">
                {% for block in section.blocks %}
                    <p class="swiper-slide text-[10.97px] lg:text-2xl font-medium tracking-[-0.548px] lg:tracking-[-1.2px] leading-none">
                        {{ block.settings.usp }}
                    </p>
                {% endfor %}
                {% for block in section.blocks %}
                    <p class="swiper-slide text-[10.97px] lg:text-2xl font-medium tracking-[-0.548px] lg:tracking-[-1.2px] leading-none">
                        {{ block.settings.usp }}
                    </p>
                {% endfor %}
            </div>
        </div>

</section>




<script>
   
    // Marquee Type Scroll
    document.addEventListener('DOMContentLoaded', function () {
    const swiperMarquee = new Swiper('.swiper-usp-marquee', {
        loop: true, 
        speed: 5000, 
        autoplay: {
            delay: 0, 
            disableOnInteraction: false, 
        },
        slidesPerView: 'auto', 
        spaceBetween: 30, 
    });
    });


    // document.addEventListener('DOMContentLoaded', function () {
    //     const swiperContainer = document.querySelector('.swiper-usp-marquee .swiper-wrapper');
    //     const slides = [...swiperContainer.children];

    //     // Ensure at least 6 slides by duplicating dynamically
    //     while (swiperContainer.children.length < 6) {
    //         slides.forEach(slide => {
    //             const clone = slide.cloneNode(true);
    //             swiperContainer.appendChild(clone);
    //         });
    //     }

    //     const swiperMarquee = new Swiper('.swiper-usp-marquee', {
    //         loop: true, 
    //         speed: 5000, 
    //         autoplay: {
    //             delay: 0, 
    //             disableOnInteraction: false, 
    //         },
    //         slidesPerView: 'auto', 
    //         spaceBetween: 30, 
    //     });
    // });


</script>


<style>
     .swiper-container.swiper-usp-marquee {
        width: 100%;
        overflow: hidden; /* Keep the overflow hidden */
    }
</style>

{%  schema  %} 
    {
        "name": "USP Marquee Scroll",
        "class": "section--usp-marquee-scroll",
        "settings": [

        ],
        "blocks": [
            {
                "name": "USP",
                "type": "usp",
                "settings": [
                    {
                        "type": "text",
                        "id": "usp",
                        "label": "USP"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "USP Marquee Scroll"
            }
        ]
    } 
{% endschema %}