<section id="mush--about-upsell">
    <div class="section-wrapper px-[26px] lg:px-12 xl:px-[140px] py-[30px] lg:py-[60px] xl:py-[110px] bg-yellow">
        <div class="grid grid-cols-1 xl:grid-cols-2 items-center">
            <h2 class="text-center xl:text-left text-2xl lg:text-[32px] text-black pt-20 xl:text-[48px] font-bold leading-tight mb-2 lg:mb-8 tracking-[-1px] lg:tracking-[-1.6px]">{{ section.settings.header | newline_to_br }}</h2>

            <div class="text-black text-center xl:text-left flex flex-col gap-4 items-center xl:items-start">
                <div class="text-sm lg:text-xl tracking-[-0.7px] lg:tracking-[-1px] mb-4 xl:mb-8">
                    {{ section.settings.description |  newline_to_br}}
                </div>

                <div>
                    <a href="{{ section.settings.button_link }}" class="btn btn-secondary">{{ section.settings.button_text }}</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "About Upsell",
        "settings": [
            {
                "type": "textarea",
                "id": "header",
                "label": "Header"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "TRY DAY SHROOMS"
            },
            {
                "type": "text",
                "id": "button_link",
                "label": "Button Link",
                "default": "/products/day-shrooms"
            }
        ],
        "presets": [
            {
                "name": "About Upsell"
            }
        ]
    }
{% endschema %}