<section id="mush--comparison-table">
    <div class="section-wrapper bg-mustard lg:bg-mustard text-black">
        <div class="bg-white rounded-t-[45px] xl:rounded-t-[154px] pt-[42px] xl:pt-[128px] pb-[62px] xl:pb-[82px] px-7 xl:px-[105px]">
            <h2 class="text-center text-[22px] lg:text-[48px] xl:text-[64px] font-semibold lg:font-medium mb-5 lg:mb-[32px] xl:mb-[86px] tracking-[-1.1px] lg:tracking-[-2.4px] xl:tracking-[-3.2px] leading-none {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                How Does 
                <span class="font-bold tracking-[-1.1px] lg:tracking-[-2.4px] xl:tracking-[-3.2px]"> Day Shrooms </span>
                <span class="font-semibold tracking-[-1.1px] lg:tracking-[-2.4px] xl:tracking-[-3.2px]">Compare?</span>
            </h2>

            <div class="grid grid-cols-4 xl:gap-2 items-end mb-5 xl:mb-[86px] {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                <div class="flex flex-col py-[22px] xl:py-[64px] gap-[18px] xl:gap-[56px] text-[10px] lg:text-lg xl:text-[30px] font-medium tracking-[-0.5px] lg:tracking-[-0.8px] xl:tracking-[-1.535px] leading-[1.1]">
                    <div class="text-[12px] lg:text-[18px] xl:text-[36px] font-bold tracking-[-0.6px] lg:tracking-[-0.9px] xl:tracking-[-1.752px] opacity-0">Comparison</div>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Energy Duration</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Caffeine Content</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Increased Focus</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Reduced Jitters</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Decreased Stress</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] lg:tracking-[-0.8px]">Multipurpose</p>
                </div>
                <div class="flex flex-col items-center py-[22px] xl:py-[64px] gap-[18px] xl:gap-[56px] text-[10px] lg:text-base xl:text-[30px] font-medium tracking-[-0.5px] xl:tracking-[-1.535px] text-white rounded-[20px] xl:rounded-[70px]" style="background: var(--0000002-paints, radial-gradient(1202.27% 229.54% at -45.8% -8.4%, #E45825 0%, #F2008C 100%), #000);">
                    <div class="text-[12px] lg:text-[18px] xl:text-[36px] font-bold tracking-[-0.6px] xl:tracking-[-1.752px]">Day Shrooms</div>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">6-8 hours</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">60mg</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">Excellent</p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.3869 18.6831L21.8973 38.2828L15.2539 31.6018" stroke="white" stroke-width="5.44437" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.3869 18.6831L21.8973 38.2828L15.2539 31.6018" stroke="white" stroke-width="5.44437" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.3869 18.6831L21.8973 38.2828L15.2539 31.6018" stroke="white" stroke-width="5.44437" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </p>
                </div>
                <div class="flex flex-col items-center py-[22px] xl:py-[64px] gap-[18px] xl:gap-[56px] text-[10px] lg:text-base xl:text-[30px] font-medium tracking-[-0.5px] xl:tracking-[-1.535px]">
                    <div class="text-[12px] lg:text-[18px] xl:text-[36px] font-bold tracking-[-0.6px] xl:tracking-[-1.752px]">Coffee</div>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">1-5 hours</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">95mg-160mg</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">Mild</p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                </div>
                <div class="flex flex-col items-center py-[22px] xl:py-[64px] gap-[18px] xl:gap-[56px] text-[10px] lg:text-base xl:text-[30px] font-medium tracking-[-0.5px] xl:tracking-[-1.535px]">
                    <div class="text-[12px] lg:text-[18px] xl:text-[36px] font-bold tracking-[-0.6px] xl:tracking-[-1.752px] text-center whitespace-nowrap">Energy Shots & Drinks</div>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">4-6 hours</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">200mg+</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">Mild</p>
                    <p class="h-[18px] lg:h-8 xl:h-14 tracking-[-0.6px] xl:tracking-[-1.535px]">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                    <p class="h-[18px] lg:h-8 xl:h-14">
                        <svg class="w-full h-full" xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 56 56" fill="none">
                            <path d="M41.5526 13.707L13.8174 41.4422M41.5526 41.4422L13.8174 13.707" stroke="black" stroke-width="6.79512" stroke-linecap="round"/>
                        </svg>
                    </p>
                </div>
            </div>


            <a href="#" class="btn btn-secondary mx-auto block {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                switch to day shrooms
            </a>

        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "Comparison Table",
        "class": "section--comparison-table",
        "settings": [

        ],
        "presets": [
            {
                "name": "Comparison Table"
            }
        ]
    } 
{% endschema %}