<section id="mush--image-with-text">
    <div class="section-wrapper">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-0">


            <div class="order-2 lg:order-1 h-full">
                <img class="w-full h-full hidden lg:block object-cover" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--img_1.png?v=1736096467" alt="Coffee Image - Desktop">

                <img class="lg:hidden w-full h-full object-cover" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--img_2_1.png?v=1736236898" alt="Coffee Image - Mobile" >
            </div>

            <div class="order-1 lg:order-2 h-full py-[64px] lg:py-5 bg-black text-white text-center px-7 lg:px-12 xl:px-[108px] flex justify-center items-center">
                <div class="flex flex-col {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                    <h2 class="text-[32px] lg:text-[38px] xl:text-[48px] !text-white font-bold leading-[1.1] tracking-[-1.6px] lg:tracking-[-1.9px] xl:tracking-[-2.4px] mb-2 lg:mb-[34px]" >
                        The Productivity Boost <br/>You've Been Craving
                    </h2>
                    <p class="text-base lg:text-2xl xl:text-[28px] mb-5 lg:mb-[34px] tracking-[-0.8px] lg:tracking-[-q.2px] xl:tracking-[-1.4px] leading-[1.1] px-3 lg:px-0">
                        Crafted for those who think big and do bigger, Day Shrooms delivers clean, steady energy to power through your day without jitters or midday slumps. Perfect for early mornings, intense focus sessions, and every productive moment in between.
                    </p>

                    <a href="#" class="btn btn-tertiary mx-auto block">
                        TRY DAY SHROOMS
                    </a>
                </div>
    
            </div>
        </div>

    </div>
</section>


{%  schema  %} 
    {
        "name": "Image With Text",
        "class": "section--image-with-text",
        "settings": [

        ],
        "presets": [
            {
                "name": "Image With Text"
            }
        ]
    } 
{% endschema %}