<section id="mush--coming-soon-usp">
    <div class="section-wrapper text-white relative px-[72px] xl:px-[36px] pt-6 pb-[78px] xl:py-[120px]" style="background-color: {{ section.settings.background }};">
        <div class="grid grid-cols-1 xl:grid-cols-5 divide-y divide-pink xl:divide-y-0 xl:divide-x  text-white">
            {% for block in section.blocks %}
                <div class="flex flex-col gap-2 text-center items-center py-6 px-6 xl:px-10">
                    <p class="text-[26px] tracking-[-1.3px] font-semibold leading-none text-center">
                        {{ block.settings.title | newline_to_br }}
                    </p>
                    <p class="text-xl tracking-[-1px] leading-tight">
                        {{ block.settings.subtext }}
                    </p>
                </div>
            {% endfor %}

        </div>
    </div>

</section>



{%  schema  %} 
    {
        "name": "Coming Soon - USP",
        "class": "section--coming-soon-usp",
        "settings": [
            {
                "type": "color",
                "id": "background",
                "label": "Background Color"
            }
        ],
        "blocks": [
            {
                "name": "USP",
                "type": "usp",
                "limit": 5,
                "settings": [
                    {
                        "type": "textarea",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "subtext",
                        "label": "Subtext"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Coming Soon - USP"
            }
        ]
    } 
{% endschema %}