<section id="mush--about-upsell">
    <div class="section-wrapper px-[26px] lg:px-12 xl:px-[140px] py-[30px] lg:py-[60px] xl:py-[110px] bg-yellow">
        <div class="section-header">
            
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "About Upsell",
        "settings": [
            {
                "type": "textarea",
                "id": "header",
                "label": "Header"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description"
            }
        ],
        "presets": [
            {
                "name": "About Upsell"
            }
        ]
    }
{% endschema %}