<section id="mush--coffee-benefits">
    <div class="section-wrapper rounded-t-[42px] xl:rounded-t-[96px] px-7 xl:px-[130px] py-[44px] xl:pt-[94px] xl:pb-[132px]" style="background: var(--Gradient-1, linear-gradient(90deg, #F2008C 0%, #E74936 100%));">

        <h2 class="text-2xl lg:text-[42px] xl:text-[60px] font-semibold mb-8 lg:mb-20 text-center tracking-[-1.206px] lg:tracking-[-2.1px] xl:tracking-[-3px] leading-[1.1] text-white {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">

            <!-- Mobile Header -->
            <div class="xl:hidden tracking-[-1.206px] lg:tracking-[-2.1px]">
                Coffee Alternatives 
                <br/>
                <span class="line-through tracking-[-1.206px] lg:tracking-[-2.1px]">Suck</span> Sucked
                Break Free from
                <br/> Coffee's Limitations
            </div>

            <!-- Desktop Header -->
            <div class="hidden xl:block tracking-[-1.206px] lg:tracking-[-2.1px]">
                Coffee Alternatives <span class="line-through tracking-[-1.206px] lg:tracking-[-2.1px]">Suck</span> Sucked
                <br/>
                Break Free from Coffee's Limitations
            </div>

        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-2 items-center gap-9 lg:gap-[92px] mb-6 lg:mb-[120px]">
            <img class="px-3 xl:px-9 lg:px-0" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/mush--benefits-new_2.png?v=1751886798" alt="">

            <div class="flex flex-col gap-5 lg:gap-12 text-white px-3 xl:px-0">
                <div class="flex gap-5 items-center">
                    <div class="w-[52px] h-[52px] xl:w-[98px] xl:h-[98px] flex-shrink-0 relative z-[2]">
                        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--sustained-energy--white.png?v=1736928980" alt="Sustained Energy">
                    </div>
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                        <h4 class="text-xl xl:text-[36px] font-semibold leading-tight tracking-[-0.991px] xl:tracking-[-1.8px] text-white">Sustained Energy</h4>
                        <p class="text-[12px] xl:text-xl leading-none tracking-[-0.594px] xl:tracking-[-1px]">Add Day Shrooms to your favorite mug.</p>
                    </div>
                </div>
                <div class="flex gap-5 items-center">
                    <div class="w-[52px] h-[52px] xl:w-[98px] xl:h-[98px] flex-shrink-0 relative z-[2]">
                        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--brain-fuel--white.png?v=1736928981" alt="Brain Fuel">
                    </div>
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                        <h4 class="text-xl xl:text-[36px] font-semibold leading-tight tracking-[-0.991px] xl:tracking-[-1.8px] text-white">Brain Fuel</h4>
                        <p class="text-[12px] xl:text-xl leading-none tracking-[-0.594px] xl:tracking-[-1px]">Improved concentration, mental clarity, and laser-sharp focus</p>
                    </div>
                </div>
                <div class="flex gap-5 items-center">
                    <div class="w-[52px] h-[52px] xl:w-[98px] xl:h-[98px] flex-shrink-0 relative z-[2]">
                        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--optimize-daily-flow--white.png?v=1736928981" alt="Optimize Daily Flow">
                    </div>
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                        <h4 class="text-xl xl:text-[36px] font-semibold leading-tight tracking-[-0.991px] xl:tracking-[-1.8px] text-white">Optimize Daily Flow</h4>
                        <p class="text-[12px] xl:text-xl leading-none tracking-[-0.594px] xl:tracking-[-1px]">Minimize distractions for effortless flow, focus, and productivity to get into work mode</p>
                    </div>
                </div>
                <div class="flex gap-5 items-center">
                    <div class="w-[52px] h-[52px] xl:w-[98px] xl:h-[98px] flex-shrink-0 relative z-[2]">
                        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--enhanced-mood--white.png?v=1736928981" alt="Enhanced Mood">
                    </div>
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                        <h4 class="text-xl xl:text-[36px] font-semibold leading-tight tracking-[-0.991px] xl:tracking-[-1.8px] text-white">Enhanced Mood</h4>
                        <p class="text-[12px] xl:text-xl leading-none tracking-[-0.594px] xl:tracking-[-1px]">Designed to promote wakeful relaxation for a zen-like calm</p>
                    </div>
                </div>
                <div class="flex gap-5 items-center">
                    <div class="w-[52px] h-[52px] xl:w-[98px] xl:h-[98px] flex-shrink-0 relative z-[2]">
                        <img src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/icon--overall-wellness--white.png?v=1736928981" alt="Overall Wellness">
                    </div>
                    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
                        <h4 class="text-xl xl:text-[36px] font-semibold leading-tight tracking-[-0.991px] xl:tracking-[-1.8px] text-white">Overall Wellness</h4>
                        <p class="text-[12px] xl:text-xl leading-none tracking-[-0.594px] xl:tracking-[-1px]">Natural and holistic approach to nourishing the mind and body connection</p>
                    </div>
                </div>
               

            </div>

        </div>


    </div>
</section>


{%  schema  %} 
    {
        "name": "Coffee Benefites",
        "class": "section--coffee-benefits",
        "settings": [

        ],
        "presets": [
            {
                "name": "Coffee Benefites"
            }
        ]
    } 
{% endschema %}