<section id="mush--how-to-prepare">
    <div class="section-wrapper bg-pinkorange px-7 lg:px-[56px] xl:px-[125px] pt-6 lg:pt-[48px] pb-[42px] lg:pb-[86px] relative ">
        <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            <h2 class="text-center text-white font-medium text-2xl lg:text-[48px] xl:text-[62.019px] tracking-[-1.2px] lg:tracking-[-2.4px] xl:tracking-[-3.101px] mb-1 lg:mb-2 leading-[1.1]">
                How to prepare your <span class="font-bold tracking-[-1.2px] lg:tracking-[-2.4px] xl:tracking-[-3.101px]">Day Shrooms.</span>
            </h2>
            <p class="text-center text-white font-medium text-base lg:text-[41.346px] tracking-[-0.8px] lg:tracking-[-2.067px] mb-[46px] lg:mb-[86px]">
                Follow these easy steps to kickstart your day.
            </p>
        </div>


        <div class="grid grid-cols-1 lg:grid-cols-3 gap-[42px] xl:gap-[64px] px-10 lg:px-0 {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in {% endif %}">
            <div>
                {% comment %} <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/How-to-prep_1.png?v=1736941133" alt="Step 1"> {% endcomment %}

                <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/How-to-prep_1.png?v=1736941133" alt="Step 1">

                <div class="flex flex-col items-center text-white">
                    <h4 class="text-white uppercase font-semibold text-[22px] lg:text-[35.328px] tracking-[-1.1px] lg:tracking-[-1.766px] leading-none mb-1 lg:mb-3">SPOON</h4>
                    <p class="text-sm lg:text-[20.477px] text-center tracking-[-0.7pxlg:tracking-[-1.024px] leading-[1.1] lg:px-10">
                        Add Day Shrooms to your favorite mug.
                    </p>
                </div>
            </div>

            <div>
                <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/How-to-prep_1.png?v=1736941133" alt="Step 2">

                <div class="flex flex-col items-center text-white">
                    <h4 class="text-white uppercase font-semibold lg:text-[35.328px] tracking-[-1.1px] lg:tracking-[-1.766px] leading-none mb-1 lg:mb-3">stir</h4>
                    <p class="text-sm lg:text-[20.477px] text-center tracking-[-0.7pxlg:tracking-[-1.024px] leading-[1.1] lg:px-10">
                        With 6-8oz water, if desired add milk & sweetener
                    </p>
                </div>
            </div>

            <div>
                <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0569/9217/0159/files/How-to-prep_1.png?v=1736941133" alt="Step 3">

                <div class="flex flex-col items-center text-white">
                    <h4 class="text-white uppercase font-semibold lg:text-[35.328px] tracking-[-1.1px] lg:tracking-[-1.766px] leading-none mb-1 lg:mb-3">sip</h4>
                    <p class="text-sm lg:text-[20.477px] text-center tracking-[-0.7pxlg:tracking-[-1.024px] leading-[1.1] lg:px-10">
                        Enjoy hot or iced and feel the flow in minutes

                    </p>
                </div>
            </div>

        </div>
    </div>

</section>


{%  schema  %} 
    {
        "name": "How to Prepare",
        "class": "section--how-to-prepare",
        "settings": [

        ],
        "presets": [
            {
                "name": "How to Prepare"
            }
        ]
    } 
{% endschema %}