@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    /* ================ MUSHPRENEUR CUSTOM SETTINGS ================= */


    html {
        color: #000000 !important;
        scroll-behavior: smooth;
        /* overflow: overlay; 
        scrollbar-gutter: stable;  */
      }
      
   

    body {
        -webkit-font-smoothing: antialiased;
        color: #000000 !important;
        /* overflow-x: hidden; */
      }

    .text-white {
        color: #FFFFFF !important;
    }


    /* ===== Buttons ===== */
    .btn{
        @apply px-7 py-3 w-fit text-white font-extrabold rounded-[32px] cursor-pointer whitespace-nowrap uppercase;
        font-size: 14px;
        letter-spacing: -0.7px;
        /* transition: background 0.3s ease-in-out; */
    }

    .btn-primary{
        background: var(--Primary-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));
        color: #ffffff !important;
    }

    .btn-primary:hover{
        background: #000000;
    }

    .btn-secondary{
        background: #000000;
        color: #ffffff !important; 
    }

    .btn-secondary:hover{
        background: var(--Primary-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));
    }

    .btn-tertiary{
        @apply bg-orange;
        color: #ffffff !important;
        border: 1px solid #E45825;
    }

    .btn-tertiary:hover{
        background: #000000;
        border: 1px solid #fff;
    }

    @media (min-width: 990px) {

        .btn{
            @apply px-8 py-4 text-base rounded-[32px];
            letter-spacing: -0.8px;
        }


    }

    @media (min-width: 1280px) {

        .btn{
            @apply px-12 py-5 text-xl rounded-[32px];
            letter-spacing: -0.8px;
        }


    }

    .text-orange{
       color: #E45825;
    }



    /* ===== Footer Newsletter ===== */
    .footer-newsletter-input{
        appearance: none !important;
    }

    .footer-newsletter-input:active,
    .footer-newsletter-input:focus,
    .footer-newsletter-input:focus-visible{
        border: 0.579px solid #FFD4DB !important;
        outline: none !important;
        box-shadow: none !important; 
        -webkit-box-shadow: none !important;
    }

    .footer-newsletter-input::placeholder {
        color: #ffffff !important;
    }

    

    @media (min-width:1280px) {
        .footer-newsletter-input:active,
        .footer-newsletter-input:focus,
        .footer-newsletter-input:focus-visible{
            border: none !important;
            outline: none !important;
            box-shadow: none !important; 
            -webkit-box-shadow: none !important;
        }
    }
   

    .space-dot{
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 50%;
    }


    @media (min-width: 990px) {
        .space-dot{
            width: 6px;
            height: 6px;
        }
    }
}


.accordion details[open]>summary .mush-icon-caret {
    transform: rotate(180deg);
}



.border-half-width{
    border-width: 0.5px;
}

.border-double-width{
    border-width: 2px;
}

.border-b-half-width{
    border-bottom-width: 0.5px;
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  }



/* ===== Account Pages ===== */
.field__input, .select__select, .customer .field input, .customer select{
    border-radius: 84px !important;
    border: 2px solid black;
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
}


.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill{
    padding: 1.5rem !important;
}

.field__label, .customer .field label{
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
    display: none  !important;
}


.customer .field input::placeholder{
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
    color: black !important;
    opacity: 50% !important;
}



.customer button{
    @apply bg-orange;
        color: #ffffff !important;
        border: 1px solid #E45825;
        width: 100%;
        border-radius: 84.13px;
        font-weight: 600;
        font-size: 24px !important;
        letter-spacing: -1.2px !important;
        margin: 32px 0 1.5rem !important;
}


:is(.account, .order) .customer--address p {
    margin: 0 0 2rem;
    font-size: 18px;
    letter-spacing: -0.8px;
  }

[data-address] .customer--address p {
    margin: 0 0 2rem;
    font-size: 18px;
    letter-spacing: -0.8px;
  }


.order>div:nth-of-type(2)>div:first-of-type h2{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -1.1px;
}

.order>div:nth-of-type(2)>div:first-of-type h2~p:last-of-type{
    font-size: 16px;
    letter-spacing: -0.8px;
}


.customer.order h2,
.is-order h2 {
    font-size: 1.5rem; /* text-2xl */
    font-size: 28px; /* xl:text-[28px] */
    letter-spacing: -1.2px; /* tracking-[-1.2px] */
}

@media (min-width: 1280px) { /* XL breakpoint */
    .customer.order h2,
    .is-order h2 {
        letter-spacing: -1.4px; /* xl:tracking-[-1.4px] */
        margin-bottom: 0.5rem !important; /* xl:!mb-2 */
    }
}

.customer.order h2,
.is-order h2 {
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.25rem !important; /* !mb-1 */
}

.customer.order p,
.order .regular-price,
.order .fulfillment,
.order .fulfillment span,
.order .fulfillment a,
.order .fulfillment time{
    font-size: 16px !important;
    letter-spacing: -0.8px !important;
}


.customer td:before{
    font-size: 16px !important;
    letter-spacing: -0.8px !important;
}


@media (max-width: 1280px) {
    :is(.account,.order){
        padding-left: 16px !important;
        padding-right: 16px !important;
    }


    .order .fulfillment,
    .order .fulfillment span,
    .order .fulfillment time{
        font-size: 14px !important;
        letter-spacing: -0.7px !important;
    }
}




.errors ul{
    padding-left: 0 !important;
    margin-bottom: 1rem !important;
}

.errors li,
.errors li a{
    font-size: 16px !important;
    letter-spacing: -0.8px !important;
}



/* Account Pages Mobile */
@media (max-width: 1280px) {
    .field__input, .select__select, .customer .field input, .customer select{
        border-radius: 36px !important;
        border: 1px solid black;
        font-size: 16px !important;
        letter-spacing: -0.8px !important;
        height: 48px !important;
        /* max-width: 230px !important; */
        margin: auto;
    }

    .field__label, .customer .field label{
        font-size: 16px !important;
        letter-spacing: -0.8px !important;
        display: none  !important;
    }
    
    
    .customer .field input::placeholder{
        font-size: 16px !important;
        letter-spacing: -0.8px !important;
        color: black !important;
        opacity: 50% !important;
    }

    .customer .field{
        margin: 16px 0 0 0 !important;
    }


    .customer button{
        margin: 16px 0 1.5rem !important;
        height: 48px !important;
        min-height: 48px !important;
        padding: 1.5rem !important;
        font-size: 16px !important;
        letter-spacing: -0.8px !important;
        border-radius: 36px !important;
        /* max-width: 230px !important; */
    }


    :is(.account, .order) .customer--address p {
        margin: 0 0 2rem;
        font-size: 1rem;
        letter-spacing: -.8px !important;
      }
    
    [data-address] .customer--address p {
        margin: 0 0 2rem;
        font-size: 1rem;
        letter-spacing: -.8px !important;
      }
    
    
}



/* Product Page - CSS */
.product__description h2{
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.3px;
    margin-bottom: 6px;
}

.product__description p{
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.9px;
    margin-bottom: 32px;
}

.product__description ul{
    padding-bottom: 18px;
    padding-left: 0;
}

.product__description ul li{
    font-size: 20.913px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.046px;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.product__description ul li svg{
    flex-shrink: 0;
}

.quantity--atc .quantity{
    border-radius: 28.372px;
    border: 2.389px solid #000;
    min-height: 56px
}

.quantity--atc .quantity:before,
.quantity--atc .quantity:after{
    opacity: 0 !important;
}


.quantity--atc .product-form__buttons{
    width: 100%;
    max-width: 100%;
}

.quantity--atc .product-form__submit{
    min-height: 56px;
    height: 56px;
    border-radius: 28.372px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1px;
    margin-bottom: 0;
}


/* Product Mobile */
@media (max-width: 990px) {
    .product__description h2{
        font-size: 18px;
        letter-spacing: -0.9px;
        margin-bottom: 4px;
    }

    .product__description p{
        font-size: 16px;
        letter-spacing: -0.8px;
        margin-bottom: 20px;
    }

    .product__description ul li {
        font-size: 16px;
        letter-spacing: -0.8px;
        margin-bottom: 12px;
    }

    .product__description ul li svg{
        width: 18px;
    }



    .quantity--atc .quantity{
        width: 110px;
        min-height: 48px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .quantity--atc .quantity .quantity__button{
        width: 100%;
        max-width: 100%;
    }

    .quantity--atc .quantity .quantity__input{
        font-size: 16px;
        font-weight: bold;
    }


    .quantity--atc .product-form__submit{
        min-height: 48px;
        height: 48px;
        border-radius: 28.372px;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.8px;
    }
}



/* Cart Drawer */
#CartDrawer shopify-paypal-button{
    display:  none;
}

#CartDrawer shop-pay-wallet-button{

}



/* ===== Article Page ===== */
.mush--article-content p,
.mush--article-content span{
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -1.1px;

}
.mush--article-content p{
    margin-bottom: 16px;
}

.mush--article-content h2,
.mush--article-content h2 span{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.6px;
}

.mush--article-content h2{
    margin-bottom: 16px;
    margin-top: 8px;
}

.mush--article-content h3,
.mush--article-content h3 span{
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.4px;
}

.mush--article-content h3{
    margin-bottom: 8px;
}

.mush--article-content ul,
.mush--article-content ol{
    padding-left: 24px;
}

.mush--article-content ol{
    list-style: auto !important;
    padding-left: 32px;
    margin-bottom: 16px;
}

.mush--article-content ul li{
    list-style: disc;
}


.mush--article-content ul li strong,
.mush--article-content ol li strong{
    font-weight: 500;
}

.mush--article-content strong{
    font-weight: 500;
}


.article-references .article-reference-content p,
.article-references .article-reference-content a{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.1px;
    margin-bottom: 4px;
    margin-top: 8px;
}

.article-references .article-reference-content a{
    text-decoration: underline;
}

.article-references .article-reference-content ul,
.article-references .article-reference-content ol{
    list-style: auto;
    padding-left: 28px;
}


.article-references .article-reference-content ul li{
    list-style: disc;
}


.article-references .article-reference-content ul li,
.article-references .article-reference-content ol li,
.article-references .article-reference-content ul li a,
.article-references .article-reference-content ol li a{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.1px;
    text-decoration: underline;
    padding-top: 4px;
    padding-bottom: 4px;

}




@media (max-width: 1280px) {
    .mush--article-content p,
    .mush--article-content span{
        font-size: 16px;
        letter-spacing: -0.8px;

    }
    .mush--article-content p{
        margin-bottom: 12px;
    }


    .mush--article-content h2,
    .mush--article-content h2 span{
        font-size: 24px;
        letter-spacing: -1.2px;
    }

    .mush--article-content h2{
        margin-bottom: 8px;
        margin-top: 8px;
    }

    .mush--article-content h3,
    .mush--article-content h3 span{
        font-size: 20px;
        letter-spacing: -1px;
    }

    .mush--article-content h3{
        margin-bottom: 4px;
    }


    .article-template__social-sharing {
        margin-top: 1rem !important;
      }

    .article-references .article-reference-content p,
    .article-references .article-reference-content a{
        font-size: 16px;
        letter-spacing: -0.8px;
        margin-bottom: 4px;
    }
    
    .article-references .article-reference-content ul {
        padding-left: 20px;
    }

    .article-references .article-reference-content ul li,
    .article-references .article-reference-content ol li,
    .article-references .article-reference-content ul li a,
    .article-references .article-reference-content ol li a{
        font-size: 16px;
        letter-spacing: -0.8px;
    }

}



/* 404 Template Background */
body[data-template="404"]{
    background-image: url(https://cdn.shopify.com/s/files/1/0569/9217/0159/files/Hero_Banner_Mobile_-_404_--_new.jpg?v=1738505248);
    background-repeat: no-repeat;
    background-size: cover;
}

body[data-template="404"] sticky-header{
    background-color: transparent;
}




/* Why Mushroom Header */
body[data-template-suffix="why-mushroom"] sticky-header{
    /* background-color: #121212; */
}



body[data-template="blog"] sticky-header{
    background: linear-gradient(90deg, rgba(242, 0, 140, 1), rgba(231, 73, 54, 1) 100%);
    color: #FFFFFF;
}

body[data-template="blog"] sticky-header header{
    color: #FFFFFF !important
}



/* Terms of Service: Accordion */
.toc--accordion details>summary .toc--icon.icon-minus{
    display: none;
}

.toc--accordion details>summary .toc--icon.icon-plus{
    display: block;
}


.toc--accordion details[open]>summary .toc--icon.icon-minus{
    display: block;
}


.toc--accordion details[open]>summary .toc--icon.icon-plus{
    display: none;
}


.toc--accordion-content ol,
.toc--accordion-content ul{
    list-style: auto;
    padding-left: 24px;
}


/* Policy Pages: Shipping and Refund */
.shopify-policy__container{
    max-width: 1200px !important;
    padding: 20px;
    margin-bottom: 40px;
}


.shopify-policy__container h1{
    font-size: 1.5rem;
    line-height: 2rem;
    margin-top: 18px;
    margin-bottom: 18px;
}

.shopify-policy__body p{
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 15px;
}




/* Prevent text from being copied */
.nocopy {
    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For IE/Edge */
}




/* DSAR Pages */
[data-template-suffix="dsar"] .ez-container{
    max-width: 600px !important;
    border: 1px solid #e5e7eb !important;
    margin-bottom: 40px;
}

[data-template-suffix="dsar"] [ez-locale=""]{
    justify-content: center !important;
}


/* Enzuzo Override -- Fix */
