*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

* {
  letter-spacing: calc(0.05 * 1em);
}
.container {
  width: 100%;
}
@media (min-width: 375px) {

  .container {
    max-width: 375px;
  }
}
@media (min-width: 576px) {

  .container {
    max-width: 576px;
  }
}
@media (min-width: 990px) {

  .container {
    max-width: 990px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1800px) {

  .container {
    max-width: 1800px;
  }
}
@media (min-width: 1920px) {

  .container {
    max-width: 1920px;
  }
}
@media (min-width: 2500px) {

  .container {
    max-width: 2500px;
  }
}
/* ================ MUSHPRENEUR CUSTOM SETTINGS ================= */
html {
        color: #000000 !important;
        /* overflow: overlay; 
        scrollbar-gutter: stable;  */
      }
body {
        -webkit-font-smoothing: antialiased;
        color: #000000 !important;
        /* overflow-x: hidden; */
      }
.\!text-white {
        color: #FFFFFF !important;
    }
.text-white {
        color: #FFFFFF !important;
    }
/* ===== Buttons ===== */
.btn {
        color: #FFFFFF;
        width: -moz-fit-content;
        width: fit-content;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 32px;
        padding-left: 1.75rem;
        padding-right: 1.75rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-weight: 800;
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
        font-size: 12px;
        letter-spacing: -0.578px;
        /* transition: background 0.3s ease-in-out; */
    }
.btn-primary{
        background: var(--Primary-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));
        color: #ffffff !important;
    }
.btn-primary:hover{
        background: #000000;
    }
.btn-secondary{
        background: #000000;
        color: #ffffff !important; 
    }
.btn-secondary:hover{
        background: var(--Primary-CTA-BG, linear-gradient(90deg, #F2008C 0%, #E74936 100%));
    }
.btn-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgb(228 88 37 / var(--tw-bg-opacity, 1));
        color: #ffffff !important;
        border: 1px solid #E45825;
}
.btn-tertiary:hover{
        background: #000000;
        border: 1px solid #fff;
    }
@media (min-width: 990px) {

        .btn {
    border-radius: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
            letter-spacing: -0.8px;
  }


    }
@media (min-width: 1280px) {

        .btn {
    border-radius: 32px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
            letter-spacing: -0.8px;
  }


    }
/* ===== Footer Newsletter ===== */
.footer-newsletter-input{
        -webkit-appearance: none !important;
           -moz-appearance: none !important;
                appearance: none !important;
    }
.footer-newsletter-input:active,
    .footer-newsletter-input:focus,
    .footer-newsletter-input:focus-visible{
        border: 0.579px solid #FFD4DB !important;
        outline: none !important;
        box-shadow: none !important; 
        -webkit-box-shadow: none !important;
    }
.footer-newsletter-input::-moz-placeholder {
        color: #ffffff !important;
    }
.footer-newsletter-input::placeholder {
        color: #ffffff !important;
    }
@media (min-width:1280px) {
        .footer-newsletter-input:active,
        .footer-newsletter-input:focus,
        .footer-newsletter-input:focus-visible{
            border: none !important;
            outline: none !important;
            box-shadow: none !important; 
            -webkit-box-shadow: none !important;
        }
    }
.space-dot{
        width: 4px;
        height: 4px;
        background-color: white;
        border-radius: 50%;
    }
@media (min-width: 990px) {
        .space-dot{
            width: 6px;
            height: 6px;
        }
    }
.visible {
  visibility: visible;
}
.static {
  position: static;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.bottom-0 {
  bottom: 0px;
}
.left-0 {
  left: 0px;
}
.left-1\/2 {
  left: 50%;
}
.right-0 {
  right: 0px;
}
.top-0 {
  top: 0px;
}
.isolate {
  isolation: isolate;
}
.z-0 {
  z-index: 0;
}
.z-\[2\] {
  z-index: 2;
}
.order-2 {
  order: 2;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.\!my-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.mb-7 {
  margin-bottom: 1.75rem;
}
.mb-8 {
  margin-bottom: 2rem;
}
.mb-9 {
  margin-bottom: 2.25rem;
}
.mb-\[102px\] {
  margin-bottom: 102px;
}
.mb-\[110px\] {
  margin-bottom: 110px;
}
.mb-\[32px\] {
  margin-bottom: 32px;
}
.mb-\[46px\] {
  margin-bottom: 46px;
}
.mt-4 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mt-\[120px\] {
  margin-top: 120px;
}
.mt-\[38px\] {
  margin-top: 38px;
}
.block {
  display: block;
}
.\!inline-block {
  display: inline-block !important;
}
.\!flex {
  display: flex !important;
}
.flex {
  display: flex;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-12 {
  height: 3rem;
}
.h-5 {
  height: 1.25rem;
}
.h-\[18px\] {
  height: 18px;
}
.h-\[1px\] {
  height: 1px;
}
.h-\[2px\] {
  height: 2px;
}
.h-\[52px\] {
  height: 52px;
}
.h-\[64px\] {
  height: 64px;
}
.h-\[66px\] {
  height: 66px;
}
.h-auto {
  height: auto;
}
.h-full {
  height: 100%;
}
.\!w-full {
  width: 100% !important;
}
.w-1\/2 {
  width: 50%;
}
.w-12 {
  width: 3rem;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-4 {
  width: 1rem;
}
.w-4\/5 {
  width: 80%;
}
.w-5 {
  width: 1.25rem;
}
.w-\[148px\] {
  width: 148px;
}
.w-\[18px\] {
  width: 18px;
}
.w-\[25\%\] {
  width: 25%;
}
.w-\[28px\] {
  width: 28px;
}
.w-\[52px\] {
  width: 52px;
}
.w-\[64px\] {
  width: 64px;
}
.w-\[75\%\] {
  width: 75%;
}
.w-\[calc\(100\%\+2rem\)\] {
  width: calc(100% + 2rem);
}
.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}
.w-full {
  width: 100%;
}
.max-w-\[198px\] {
  max-width: 198px;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.origin-bottom-left {
  transform-origin: bottom left;
}
.origin-top-right {
  transform-origin: top right;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-x-\[80\%\] {
  --tw-translate-x: -80%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-x-\[80\%\] {
  --tw-translate-x: 80%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-1\/2 {
  --tw-translate-y: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.translate-y-\[1px\] {
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-\[0\.5\] {
  --tw-scale-x: 0.5;
  --tw-scale-y: 0.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-\[18px\] {
  gap: 18px;
}
.gap-\[38px\] {
  gap: 38px;
}
.gap-\[42px\] {
  gap: 42px;
}
.gap-\[54px\] {
  gap: 54px;
}
.gap-\[74px\] {
  gap: 74px;
}
.overflow-hidden {
  overflow: hidden;
}
.\!overflow-visible {
  overflow: visible !important;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-\[10px\] {
  border-radius: 10px;
}
.rounded-\[12px\] {
  border-radius: 12px;
}
.rounded-\[20px\] {
  border-radius: 20px;
}
.rounded-\[45px\] {
  border-radius: 45px;
}
.rounded-\[70px\] {
  border-radius: 70px;
}
.rounded-\[84px\] {
  border-radius: 84px;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-b-\[42px\] {
  border-bottom-right-radius: 42px;
  border-bottom-left-radius: 42px;
}
.rounded-t-\[42px\] {
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
.rounded-t-\[45px\] {
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}
.rounded-t-\[96px\] {
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
}
.border {
  border-width: 1px;
}
.border-\[2\.5px\] {
  border-width: 2.5px;
}
.border-b {
  border-bottom-width: 1px;
}
.\!border-none {
  border-style: none !important;
}
.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}
.border-orange {
  --tw-border-opacity: 1;
  border-color: rgb(228 88 37 / var(--tw-border-opacity, 1));
}
.border-pink {
  --tw-border-opacity: 1;
  border-color: rgb(255 62 173 / var(--tw-border-opacity, 1));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
.\!bg-black {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1)) !important;
}
.bg-\[\#111111\] {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity, 1));
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-orange {
  --tw-bg-opacity: 1;
  background-color: rgb(228 88 37 / var(--tw-bg-opacity, 1));
}
.bg-pink {
  --tw-bg-opacity: 1;
  background-color: rgb(255 62 173 / var(--tw-bg-opacity, 1));
}
.bg-pinkorange {
  --tw-bg-opacity: 1;
  background-color: rgb(231 70 57 / var(--tw-bg-opacity, 1));
}
.bg-skyblue {
  --tw-bg-opacity: 1;
  background-color: rgb(152 225 255 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-yellow {
  --tw-bg-opacity: 1;
  background-color: rgb(255 193 7 / var(--tw-bg-opacity, 1));
}
.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}
.\!px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}
.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}
.px-\[38px\] {
  padding-left: 38px;
  padding-right: 38px;
}
.px-\[52px\] {
  padding-left: 52px;
  padding-right: 52px;
}
.px-\[62px\] {
  padding-left: 62px;
  padding-right: 62px;
}
.px-\[75px\] {
  padding-left: 75px;
  padding-right: 75px;
}
.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py-\[12px\] {
  padding-top: 12px;
  padding-bottom: 12px;
}
.py-\[22px\] {
  padding-top: 22px;
  padding-bottom: 22px;
}
.py-\[32px\] {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-\[44px\] {
  padding-top: 44px;
  padding-bottom: 44px;
}
.py-\[64px\] {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py-\[66px\] {
  padding-top: 66px;
  padding-bottom: 66px;
}
.\!pb-3 {
  padding-bottom: 0.75rem !important;
}
.\!pl-0 {
  padding-left: 0px !important;
}
.\!pt-7 {
  padding-top: 1.75rem !important;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-5 {
  padding-bottom: 1.25rem;
}
.pb-7 {
  padding-bottom: 1.75rem;
}
.pb-\[108px\] {
  padding-bottom: 108px;
}
.pb-\[130px\] {
  padding-bottom: 130px;
}
.pb-\[280px\] {
  padding-bottom: 280px;
}
.pb-\[32px\] {
  padding-bottom: 32px;
}
.pb-\[355px\] {
  padding-bottom: 355px;
}
.pb-\[393px\] {
  padding-bottom: 393px;
}
.pb-\[42px\] {
  padding-bottom: 42px;
}
.pb-\[52px\] {
  padding-bottom: 52px;
}
.pb-\[60px\] {
  padding-bottom: 60px;
}
.pb-\[62px\] {
  padding-bottom: 62px;
}
.pl-12 {
  padding-left: 3rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pt-7 {
  padding-top: 1.75rem;
}
.pt-\[110px\] {
  padding-top: 110px;
}
.pt-\[22px\] {
  padding-top: 22px;
}
.pt-\[30px\] {
  padding-top: 30px;
}
.pt-\[32px\] {
  padding-top: 32px;
}
.pt-\[34px\] {
  padding-top: 34px;
}
.pt-\[36px\] {
  padding-top: 36px;
}
.pt-\[42px\] {
  padding-top: 42px;
}
.text-center {
  text-align: center;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-\[10\.6px\] {
  font-size: 10.6px;
}
.text-\[10\.97px\] {
  font-size: 10.97px;
}
.text-\[10px\] {
  font-size: 10px;
}
.text-\[11\.4px\] {
  font-size: 11.4px;
}
.text-\[11\.5px\] {
  font-size: 11.5px;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[15px\] {
  font-size: 15px;
}
.text-\[17\.087px\] {
  font-size: 17.087px;
}
.text-\[18\.534px\] {
  font-size: 18.534px;
}
.text-\[192px\] {
  font-size: 192px;
}
.text-\[21\.1px\] {
  font-size: 21.1px;
}
.text-\[22px\] {
  font-size: 22px;
}
.text-\[26\.191px\] {
  font-size: 26.191px;
}
.text-\[26\.84px\] {
  font-size: 26.84px;
}
.text-\[26px\] {
  font-size: 26px;
}
.text-\[28px\] {
  font-size: 28px;
}
.text-\[30px\] {
  font-size: 30px;
}
.text-\[32px\] {
  font-size: 32px;
}
.text-\[36px\] {
  font-size: 36px;
}
.text-\[46px\] {
  font-size: 46px;
}
.text-\[56px\] {
  font-size: 56px;
}
.text-\[64px\] {
  font-size: 64px;
}
.text-\[8\.8px\] {
  font-size: 8.8px;
}
.text-\[80px\] {
  font-size: 80px;
}
.text-\[8px\] {
  font-size: 8px;
}
.text-\[9px\] {
  font-size: 9px;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.font-light {
  font-weight: 300;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.leading-\[1\.1\] {
  line-height: 1.1;
}
.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.tracking-\[-0\.439px\] {
  letter-spacing: -0.439px;
}
.tracking-\[-0\.45px\] {
  letter-spacing: -0.45px;
}
.tracking-\[-0\.473px\] {
  letter-spacing: -0.473px;
}
.tracking-\[-0\.4px\] {
  letter-spacing: -0.4px;
}
.tracking-\[-0\.548px\] {
  letter-spacing: -0.548px;
}
.tracking-\[-0\.577px\] {
  letter-spacing: -0.577px;
}
.tracking-\[-0\.594px\] {
  letter-spacing: -0.594px;
}
.tracking-\[-0\.5px\] {
  letter-spacing: -0.5px;
}
.tracking-\[-0\.63px\] {
  letter-spacing: -0.63px;
}
.tracking-\[-0\.674px\] {
  letter-spacing: -0.674px;
}
.tracking-\[-0\.684px\] {
  letter-spacing: -0.684px;
}
.tracking-\[-0\.689px\] {
  letter-spacing: -0.689px;
}
.tracking-\[-0\.6px\] {
  letter-spacing: -0.6px;
}
.tracking-\[-0\.722px\] {
  letter-spacing: -0.722px;
}
.tracking-\[-0\.7px\] {
  letter-spacing: -0.7px;
}
.tracking-\[-0\.854px\] {
  letter-spacing: -0.854px;
}
.tracking-\[-0\.8px\] {
  letter-spacing: -0.8px;
}
.tracking-\[-0\.927px\] {
  letter-spacing: -0.927px;
}
.tracking-\[-0\.972px\] {
  letter-spacing: -0.972px;
}
.tracking-\[-0\.991px\] {
  letter-spacing: -0.991px;
}
.tracking-\[-0\.997px\] {
  letter-spacing: -0.997px;
}
.tracking-\[-1\.037px\] {
  letter-spacing: -1.037px;
}
.tracking-\[-1\.06px\] {
  letter-spacing: -1.06px;
}
.tracking-\[-1\.1px\] {
  letter-spacing: -1.1px;
}
.tracking-\[-1\.206px\] {
  letter-spacing: -1.206px;
}
.tracking-\[-1\.2px\] {
  letter-spacing: -1.2px;
}
.tracking-\[-1\.31px\] {
  letter-spacing: -1.31px;
}
.tracking-\[-1\.342px\] {
  letter-spacing: -1.342px;
}
.tracking-\[-1\.3px\] {
  letter-spacing: -1.3px;
}
.tracking-\[-1\.4px\] {
  letter-spacing: -1.4px;
}
.tracking-\[-1\.539px\] {
  letter-spacing: -1.539px;
}
.tracking-\[-1\.649px\] {
  letter-spacing: -1.649px;
}
.tracking-\[-1\.6px\] {
  letter-spacing: -1.6px;
}
.tracking-\[-1\.8px\] {
  letter-spacing: -1.8px;
}
.tracking-\[-2\.3px\] {
  letter-spacing: -2.3px;
}
.tracking-\[-2\.8px\] {
  letter-spacing: -2.8px;
}
.tracking-\[-3\.2px\] {
  letter-spacing: -3.2px;
}
.tracking-\[-4px\] {
  letter-spacing: -4px;
}
.tracking-\[-9\.607px\] {
  letter-spacing: -9.607px;
}
.\!text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}
.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-lightorange {
  --tw-text-opacity: 1;
  color: rgb(254 163 12 / var(--tw-text-opacity, 1));
}
.text-pinkorange {
  --tw-text-opacity: 1;
  color: rgb(231 70 57 / var(--tw-text-opacity, 1));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.line-through {
  text-decoration-line: line-through;
}
.no-underline {
  text-decoration-line: none;
}
.opacity-0 {
  opacity: 0;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}



.border-half-width{
    border-width: 0.5px;
}

.border-b-half-width{
    border-bottom-width: 0.5px;
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
  }



/* ===== Account Pages ===== */
.field__input, .select__select, .customer .field input, .customer select{
    border-radius: 84px !important;
    border: 2px solid black;
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
}


.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill{
    padding: 1.5rem !important;
}

.field__label, .customer .field label{
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
    display: none  !important;
}


.customer .field input::-moz-placeholder{
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
    color: black !important;
    opacity: 50% !important;
}


.customer .field input::placeholder{
    font-size: 24px !important;
    letter-spacing: -1.2px !important;
    color: black !important;
    opacity: 50% !important;
}



.customer button {
  --tw-bg-opacity: 1;
  background-color: rgb(228 88 37 / var(--tw-bg-opacity, 1));
        color: #ffffff !important;
        border: 1px solid #E45825;
        width: 100%;
        border-radius: 84.13px;
        font-weight: 600;
        font-size: 24px !important;
        letter-spacing: -1.2px !important;
}


.errors ul{
    padding-left: 0 !important;
    margin-bottom: 1rem !important;
}

.errors li,
.errors li a{
    font-size: 16px !important;
    letter-spacing: -0.8px !important;
}

@media (min-width: 990px) {

  .lg\:bottom-\[20px\] {
    bottom: 20px;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .lg\:mb-12 {
    margin-bottom: 3rem;
  }

  .lg\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .lg\:mb-2\.5 {
    margin-bottom: 0.625rem;
  }

  .lg\:mb-20 {
    margin-bottom: 5rem;
  }

  .lg\:mb-4 {
    margin-bottom: 1rem;
  }

  .lg\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .lg\:mb-9 {
    margin-bottom: 2.25rem;
  }

  .lg\:mb-\[120px\] {
    margin-bottom: 120px;
  }

  .lg\:mb-\[32px\] {
    margin-bottom: 32px;
  }

  .lg\:mb-\[34px\] {
    margin-bottom: 34px;
  }

  .lg\:mb-\[38px\] {
    margin-bottom: 38px;
  }

  .lg\:mb-\[60px\] {
    margin-bottom: 60px;
  }

  .lg\:mb-\[64px\] {
    margin-bottom: 64px;
  }

  .lg\:ml-0 {
    margin-left: 0px;
  }

  .lg\:ml-12 {
    margin-left: 3rem;
  }

  .lg\:ml-\[64px\] {
    margin-left: 64px;
  }

  .lg\:mr-\[4\.5rem\] {
    margin-right: 4.5rem;
  }

  .lg\:block {
    display: block;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-20 {
    height: 5rem;
  }

  .lg\:h-7 {
    height: 1.75rem;
  }

  .lg\:h-8 {
    height: 2rem;
  }

  .lg\:w-2\/3 {
    width: 66.666667%;
  }

  .lg\:w-20 {
    width: 5rem;
  }

  .lg\:w-5 {
    width: 1.25rem;
  }

  .lg\:w-7 {
    width: 1.75rem;
  }

  .lg\:w-\[250px\] {
    width: 250px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:gap-12 {
    gap: 3rem;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:gap-\[92px\] {
    gap: 92px;
  }

  .lg\:bg-pink {
    --tw-bg-opacity: 1;
    background-color: rgb(255 62 173 / var(--tw-bg-opacity, 1));
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:px-\[32px\] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .lg\:px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px;
  }

  .lg\:px-\[54px\] {
    padding-left: 54px;
    padding-right: 54px;
  }

  .lg\:px-\[94px\] {
    padding-left: 94px;
    padding-right: 94px;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .lg\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .lg\:py-\[64px\] {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .lg\:pb-\[160px\] {
    padding-bottom: 160px;
  }

  .lg\:pb-\[164px\] {
    padding-bottom: 164px;
  }

  .lg\:pb-\[190px\] {
    padding-bottom: 190px;
  }

  .lg\:pb-\[300px\] {
    padding-bottom: 300px;
  }

  .lg\:pb-\[30px\] {
    padding-bottom: 30px;
  }

  .lg\:pb-\[86px\] {
    padding-bottom: 86px;
  }

  .lg\:pl-0 {
    padding-left: 0px;
  }

  .lg\:pr-20 {
    padding-right: 5rem;
  }

  .lg\:pr-32 {
    padding-right: 8rem;
  }

  .lg\:pt-12 {
    padding-top: 3rem;
  }

  .lg\:pt-7 {
    padding-top: 1.75rem;
  }

  .lg\:pt-\[146px\] {
    padding-top: 146px;
  }

  .lg\:pt-\[54px\] {
    padding-top: 54px;
  }

  .lg\:pt-\[60px\] {
    padding-top: 60px;
  }

  .lg\:pt-\[64px\] {
    padding-top: 64px;
  }

  .lg\:pt-\[75px\] {
    padding-top: 75px;
  }

  .lg\:text-left {
    text-align: left;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-\[10\.192px\] {
    font-size: 10.192px;
  }

  .lg\:text-\[18px\] {
    font-size: 18px;
  }

  .lg\:text-\[28px\] {
    font-size: 28px;
  }

  .lg\:text-\[30px\] {
    font-size: 30px;
  }

  .lg\:text-\[38px\] {
    font-size: 38px;
  }

  .lg\:text-\[40px\] {
    font-size: 40px;
  }

  .lg\:text-\[42px\] {
    font-size: 42px;
  }

  .lg\:text-\[45px\] {
    font-size: 45px;
  }

  .lg\:text-\[48px\] {
    font-size: 48px;
  }

  .lg\:text-\[60px\] {
    font-size: 60px;
  }

  .lg\:text-\[64px\] {
    font-size: 64px;
  }

  .lg\:text-\[8\.507px\] {
    font-size: 8.507px;
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:font-medium {
    font-weight: 500;
  }

  .lg\:tracking-\[-0\.425px\] {
    letter-spacing: -0.425px;
  }

  .lg\:tracking-\[-0\.51px\] {
    letter-spacing: -0.51px;
  }

  .lg\:tracking-\[-0\.681px\] {
    letter-spacing: -0.681px;
  }

  .lg\:tracking-\[-0\.8px\] {
    letter-spacing: -0.8px;
  }

  .lg\:tracking-\[-0\.9px\] {
    letter-spacing: -0.9px;
  }

  .lg\:tracking-\[-1\.2px\] {
    letter-spacing: -1.2px;
  }

  .lg\:tracking-\[-1\.361px\] {
    letter-spacing: -1.361px;
  }

  .lg\:tracking-\[-1\.4px\] {
    letter-spacing: -1.4px;
  }

  .lg\:tracking-\[-1\.5px\] {
    letter-spacing: -1.5px;
  }

  .lg\:tracking-\[-1\.9px\] {
    letter-spacing: -1.9px;
  }

  .lg\:tracking-\[-1px\] {
    letter-spacing: -1px;
  }

  .lg\:tracking-\[-2\.1px\] {
    letter-spacing: -2.1px;
  }

  .lg\:tracking-\[-2\.25px\] {
    letter-spacing: -2.25px;
  }

  .lg\:tracking-\[-2\.4px\] {
    letter-spacing: -2.4px;
  }

  .lg\:tracking-\[-2\.646px\] {
    letter-spacing: -2.646px;
  }

  .lg\:tracking-\[-2px\] {
    letter-spacing: -2px;
  }

  .lg\:tracking-\[-3\.2px\] {
    letter-spacing: -3.2px;
  }

  .lg\:tracking-\[-3px\] {
    letter-spacing: -3px;
  }

  .lg\:tracking-\[-q\.2px\] {
    letter-spacing: -q.2px;
  }
}

@media (min-width: 1280px) {

  @media (min-width: 990px) {

    .xl\:lg\:px-\[100px\] {
      padding-left: 100px;
      padding-right: 100px;
    }

    .xl\:lg\:py-\[50px\] {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .xl\:bottom-\[40px\] {
    bottom: 40px;
  }

  .xl\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .xl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:mb-2 {
    margin-bottom: 0.5rem;
  }

  .xl\:mb-2\.5 {
    margin-bottom: 0.625rem;
  }

  .xl\:mb-20 {
    margin-bottom: 5rem;
  }

  .xl\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .xl\:mb-6 {
    margin-bottom: 1.5rem;
  }

  .xl\:mb-9 {
    margin-bottom: 2.25rem;
  }

  .xl\:mb-\[24px\] {
    margin-bottom: 24px;
  }

  .xl\:mb-\[86px\] {
    margin-bottom: 86px;
  }

  .xl\:ml-24 {
    margin-left: 6rem;
  }

  .xl\:ml-\[102px\] {
    margin-left: 102px;
  }

  .xl\:ml-\[110px\] {
    margin-left: 110px;
  }

  .xl\:mt-\[62px\] {
    margin-top: 62px;
  }

  .xl\:mt-\[64px\] {
    margin-top: 64px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:grid {
    display: grid;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:h-1 {
    height: 0.25rem;
  }

  .xl\:h-14 {
    height: 3.5rem;
  }

  .xl\:h-\[108px\] {
    height: 108px;
  }

  .xl\:h-\[112px\] {
    height: 112px;
  }

  .xl\:h-\[2px\] {
    height: 2px;
  }

  .xl\:h-\[44px\] {
    height: 44px;
  }

  .xl\:h-\[98px\] {
    height: 98px;
  }

  .xl\:w-10 {
    width: 2.5rem;
  }

  .xl\:w-4\/5 {
    width: 80%;
  }

  .xl\:w-8 {
    width: 2rem;
  }

  .xl\:w-9 {
    width: 2.25rem;
  }

  .xl\:w-\[108px\] {
    width: 108px;
  }

  .xl\:w-\[112px\] {
    width: 112px;
  }

  .xl\:w-\[44px\] {
    width: 44px;
  }

  .xl\:w-\[56px\] {
    width: 56px;
  }

  .xl\:w-\[98px\] {
    width: 98px;
  }

  .xl\:max-w-\[430px\] {
    max-width: 430px;
  }

  .xl\:-translate-x-full {
    --tw-translate-x: -100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:translate-x-full {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:scale-\[1\] {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:items-start {
    align-items: flex-start;
  }

  .xl\:justify-start {
    justify-content: flex-start;
  }

  .xl\:justify-end {
    justify-content: flex-end;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:gap-11 {
    gap: 2.75rem;
  }

  .xl\:gap-2 {
    gap: 0.5rem;
  }

  .xl\:gap-3 {
    gap: 0.75rem;
  }

  .xl\:gap-5 {
    gap: 1.25rem;
  }

  .xl\:gap-7 {
    gap: 1.75rem;
  }

  .xl\:gap-\[56px\] {
    gap: 56px;
  }

  .xl\:gap-\[64px\] {
    gap: 64px;
  }

  .xl\:rounded-\[114px\] {
    border-radius: 114px;
  }

  .xl\:rounded-\[38\.973px\] {
    border-radius: 38.973px;
  }

  .xl\:rounded-\[38px\] {
    border-radius: 38px;
  }

  .xl\:rounded-\[46px\] {
    border-radius: 46px;
  }

  .xl\:rounded-\[70px\] {
    border-radius: 70px;
  }

  .xl\:rounded-b-\[96px\] {
    border-bottom-right-radius: 96px;
    border-bottom-left-radius: 96px;
  }

  .xl\:rounded-t-\[154px\] {
    border-top-left-radius: 154px;
    border-top-right-radius: 154px;
  }

  .xl\:rounded-t-\[96px\] {
    border-top-left-radius: 96px;
    border-top-right-radius: 96px;
  }

  .xl\:border-\[5px\] {
    border-width: 5px;
  }

  .xl\:border-b {
    border-bottom-width: 1px;
  }

  .xl\:border-white {
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
  }

  .xl\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .xl\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .xl\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .xl\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .xl\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .xl\:px-\[100px\] {
    padding-left: 100px;
    padding-right: 100px;
  }

  .xl\:px-\[105px\] {
    padding-left: 105px;
    padding-right: 105px;
  }

  .xl\:px-\[108px\] {
    padding-left: 108px;
    padding-right: 108px;
  }

  .xl\:px-\[114px\] {
    padding-left: 114px;
    padding-right: 114px;
  }

  .xl\:px-\[115px\] {
    padding-left: 115px;
    padding-right: 115px;
  }

  .xl\:px-\[125px\] {
    padding-left: 125px;
    padding-right: 125px;
  }

  .xl\:px-\[130px\] {
    padding-left: 130px;
    padding-right: 130px;
  }

  .xl\:px-\[188px\] {
    padding-left: 188px;
    padding-right: 188px;
  }

  .xl\:px-\[195px\] {
    padding-left: 195px;
    padding-right: 195px;
  }

  .xl\:px-\[232px\] {
    padding-left: 232px;
    padding-right: 232px;
  }

  .xl\:px-\[74px\] {
    padding-left: 74px;
    padding-right: 74px;
  }

  .xl\:px-\[86px\] {
    padding-left: 86px;
    padding-right: 86px;
  }

  .xl\:px-\[94px\] {
    padding-left: 94px;
    padding-right: 94px;
  }

  .xl\:py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .xl\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .xl\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .xl\:py-\[106px\] {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  .xl\:py-\[110px\] {
    padding-top: 110px;
    padding-bottom: 110px;
  }

  .xl\:py-\[28px\] {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .xl\:py-\[34px\] {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .xl\:py-\[54px\] {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .xl\:py-\[64px\] {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .xl\:py-\[90px\] {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .xl\:pb-12 {
    padding-bottom: 3rem;
  }

  .xl\:pb-20 {
    padding-bottom: 5rem;
  }

  .xl\:pb-3 {
    padding-bottom: 0.75rem;
  }

  .xl\:pb-\[110px\] {
    padding-bottom: 110px;
  }

  .xl\:pb-\[132px\] {
    padding-bottom: 132px;
  }

  .xl\:pb-\[236px\] {
    padding-bottom: 236px;
  }

  .xl\:pb-\[82px\] {
    padding-bottom: 82px;
  }

  .xl\:pb-\[84px\] {
    padding-bottom: 84px;
  }

  .xl\:pb-\[86px\] {
    padding-bottom: 86px;
  }

  .xl\:pl-\[104px\] {
    padding-left: 104px;
  }

  .xl\:pr-0 {
    padding-right: 0px;
  }

  .xl\:pt-\[128px\] {
    padding-top: 128px;
  }

  .xl\:pt-\[160px\] {
    padding-top: 160px;
  }

  .xl\:pt-\[48px\] {
    padding-top: 48px;
  }

  .xl\:pt-\[62px\] {
    padding-top: 62px;
  }

  .xl\:pt-\[66px\] {
    padding-top: 66px;
  }

  .xl\:pt-\[72px\] {
    padding-top: 72px;
  }

  .xl\:pt-\[76px\] {
    padding-top: 76px;
  }

  .xl\:pt-\[78px\] {
    padding-top: 78px;
  }

  .xl\:pt-\[88px\] {
    padding-top: 88px;
  }

  .xl\:pt-\[94px\] {
    padding-top: 94px;
  }

  .xl\:text-left {
    text-align: left;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-\[20\.477px\] {
    font-size: 20.477px;
  }

  .xl\:text-\[25\.482px\] {
    font-size: 25.482px;
  }

  .xl\:text-\[28px\] {
    font-size: 28px;
  }

  .xl\:text-\[29\.071px\] {
    font-size: 29.071px;
  }

  .xl\:text-\[30\.21px\] {
    font-size: 30.21px;
  }

  .xl\:text-\[30px\] {
    font-size: 30px;
  }

  .xl\:text-\[31\.21px\] {
    font-size: 31.21px;
  }

  .xl\:text-\[32px\] {
    font-size: 32px;
  }

  .xl\:text-\[34\.407px\] {
    font-size: 34.407px;
  }

  .xl\:text-\[34px\] {
    font-size: 34px;
  }

  .xl\:text-\[35\.328px\] {
    font-size: 35.328px;
  }

  .xl\:text-\[35px\] {
    font-size: 35px;
  }

  .xl\:text-\[36px\] {
    font-size: 36px;
  }

  .xl\:text-\[40px\] {
    font-size: 40px;
  }

  .xl\:text-\[41\.346px\] {
    font-size: 41.346px;
  }

  .xl\:text-\[46px\] {
    font-size: 46px;
  }

  .xl\:text-\[48px\] {
    font-size: 48px;
  }

  .xl\:text-\[51\.682px\] {
    font-size: 51.682px;
  }

  .xl\:text-\[52\.929px\] {
    font-size: 52.929px;
  }

  .xl\:text-\[58\.143px\] {
    font-size: 58.143px;
  }

  .xl\:text-\[59\.62px\] {
    font-size: 59.62px;
  }

  .xl\:text-\[60px\] {
    font-size: 60px;
  }

  .xl\:text-\[62\.019px\] {
    font-size: 62.019px;
  }

  .xl\:text-\[64px\] {
    font-size: 64px;
  }

  .xl\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:font-semibold {
    font-weight: 600;
  }

  .xl\:tracking-\[-0\.722px\] {
    letter-spacing: -0.722px;
  }

  .xl\:tracking-\[-1\.037px\] {
    letter-spacing: -1.037px;
  }

  .xl\:tracking-\[-1\.167px\] {
    letter-spacing: -1.167px;
  }

  .xl\:tracking-\[-1\.274px\] {
    letter-spacing: -1.274px;
  }

  .xl\:tracking-\[-1\.2px\] {
    letter-spacing: -1.2px;
  }

  .xl\:tracking-\[-1\.454px\] {
    letter-spacing: -1.454px;
  }

  .xl\:tracking-\[-1\.4px\] {
    letter-spacing: -1.4px;
  }

  .xl\:tracking-\[-1\.535px\] {
    letter-spacing: -1.535px;
  }

  .xl\:tracking-\[-1\.561px\] {
    letter-spacing: -1.561px;
  }

  .xl\:tracking-\[-1\.5px\] {
    letter-spacing: -1.5px;
  }

  .xl\:tracking-\[-1\.6px\] {
    letter-spacing: -1.6px;
  }

  .xl\:tracking-\[-1\.72px\] {
    letter-spacing: -1.72px;
  }

  .xl\:tracking-\[-1\.752px\] {
    letter-spacing: -1.752px;
  }

  .xl\:tracking-\[-1\.75px\] {
    letter-spacing: -1.75px;
  }

  .xl\:tracking-\[-1\.766px\] {
    letter-spacing: -1.766px;
  }

  .xl\:tracking-\[-1\.7px\] {
    letter-spacing: -1.7px;
  }

  .xl\:tracking-\[-1\.8px\] {
    letter-spacing: -1.8px;
  }

  .xl\:tracking-\[-1px\] {
    letter-spacing: -1px;
  }

  .xl\:tracking-\[-2\.067px\] {
    letter-spacing: -2.067px;
  }

  .xl\:tracking-\[-2\.3px\] {
    letter-spacing: -2.3px;
  }

  .xl\:tracking-\[-2\.4px\] {
    letter-spacing: -2.4px;
  }

  .xl\:tracking-\[-2\.584px\] {
    letter-spacing: -2.584px;
  }

  .xl\:tracking-\[-2\.907px\] {
    letter-spacing: -2.907px;
  }

  .xl\:tracking-\[-2\.981px\] {
    letter-spacing: -2.981px;
  }

  .xl\:tracking-\[-2px\] {
    letter-spacing: -2px;
  }

  .xl\:tracking-\[-3\.101px\] {
    letter-spacing: -3.101px;
  }

  .xl\:tracking-\[-3\.2px\] {
    letter-spacing: -3.2px;
  }

  .xl\:tracking-\[-3px\] {
    letter-spacing: -3px;
  }
}

@media (min-width: 1800px) {

  .\33xl\:pb-\[380px\] {
    padding-bottom: 380px;
  }

  .\33xl\:pt-\[220px\] {
    padding-top: 220px;
  }
}