<section class="min-h-screen">
    <div id="__enzuzo-root"></div>
    <script id="__enzuzo-root-script" src="https://app.enzuzo.com/scripts/privacy/4cb53556-df42-11ef-a187-43a7a8ecc293"></script>
</section>

