<section class="min-h-screen">
    <iframe 
        src="https://app.enzuzo.com/scripts/privacy/4cb53556-df42-11ef-a187-43a7a8ecc293" 
        style="width: 100%; height: 600px; border: none; overflow: hidden;" 
        title="Privacy Policy">
    </iframe>
</section>
