<section class="min-h-screen">
    <div id="__enzuzo-root"></div>
</section>

<script>
    window.addEventListener("load", function() {
        let script = document.createElement("script");
        script.id = "__enzuzo-root-script";
        script.src = "https://app.enzuzo.com/scripts/privacy/4cb53556-df42-11ef-a187-43a7a8ecc293";
        document.body.appendChild(script);
    });
</script>
